footer {
    &.main-footer {
        border-top: 1px solid $color_3;
        padding-top: 45px;
        padding-bottom: 150px;
        @media (max-width: 979px) {
            padding-bottom: 15px;
            text-align: center;
        }
        .footer-logo {
            text-indent: -1000000px;
            @include sprites('logo_footer');
            @include inline-block;
            @media (max-width: 979px) {
                margin: 0 auto 45px;
            }
        }
        .block-wrapper {
            @include roboto-font($regular-font, $regular-font-weight);
            @media (min-width: 768px) and (max-width: 979px) {
                text-align: left;
            }
            .block-title {
                margin-top: 0;
                margin-bottom: 15px;
                color: $color_4;
                font-size: 18px;
            }
            .block-list {
                .block-element {
                    line-height: 1.2em;
                    margin-bottom: 15px;
                    a {
                        color: $color_5;
                        font-size: 14px;
                    }
                }
            }
        }
        .share-buttons {
            float: none;
            display: block;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                @include inline-block();
            }
        }
        .copyrights {
            margin-top: 15px;
            margin-bottom: 10px;
            @media (min-width: 768px) and (max-width: 979px) {
                text-align: left;
            }
            .copyright {
                display: block;
                @include roboto-font($light-font, $light-font-weight);
                font-size: 11px;
                margin-bottom: 15px;
            }
            .notice {
                @include roboto-font($regular-font, $regular-font-weight);
                font-size: 11px;
                line-height: 18px;
                margin-bottom: 0;
            }
        }
        .icon {
            &.payment-methods {
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
            }
        }
    }
}
