header.top-header {
    background-color: $color_1;
    .logo {
        margin-top: 6px;
        text-indent: -1000000px;
        @include inline-block;
        @include sprites('logo');
        @media (min-width: 768px) and (max-width: 979px) {
            margin-bottom: 6px;
        }
        @media (max-width: 480px) {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .mobile-menu {
        margin-top: 13px;
        margin-bottom: 13px;
        .mobile-menu-hamburger {
            cursor: pointer;
            @include inline-block();
        }
    }
    .header-menu-wrapper {
        text-align: center;
    }
    .language-account-wrapper {
        float: right;
        .language-switcher {
            float: left;
            margin-right: 25px;
            color: $color_3;
            font-size: 14px;
            padding: 0;
            @include roboto-font($regular-font, $regular-font-weight);
            @include inline-block;
            &.top-menu {
                .menu-item {
                    &.has-submenu {
                        .submenu {
                            width: 120px;
                        }
                    }
                }
            }
        }
        .user-account {
            float: left;
            border: 1px solid $color_2;
            padding: 3px 10px 5px;
            margin-top: 10px;
            @include border-radius(3px);
            a, .separator {
                line-height: 1.2em;
                @include roboto-font($regular-font, $regular-font-weight);
                font-size: 14px;
                color: $color_2;
            }
            a:hover {
                color: $color_6;
            }
            &.logged {
                border: none;
                padding: 0;
                margin-top: 0;
                @include border-radius(0);
                .top-menu {
                    .menu-item {
                        &.has-submenu {
                            padding-top: 0;
                            padding-bottom: 0;
                            .menu-element {
                                @include clearfix;
                                img, span {
                                    float: left;
                                    display: block;
                                }
                                .profile-photo {
                                    width: 40px;
                                    height: 40px;
                                    border: 1px solid $color_13;
                                    margin-top: 5px;
                                    margin-right: 10px;
                                    @include border-radius(50%);
                                }
                                span {
                                    padding: 15px 0 16px;
                                }
                            }
                            .submenu {
                                right: 0;
                                width: 160px;
                                .menu-item {
                                    .menu-element {
                                        span {
                                            &.icon {
                                                display: none;
                                            }
                                            &.text {
                                                padding-top: 0;
                                                padding-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
