$sprites-layout: horizontal;
$sprites-spacing: 2px;
@import "sprites/*.png";

@mixin sprites($name) {
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);
    @include sprites-sprite($name);
}

$payment_method-layout: horizontal;
$payment_method-spacing: 2px;
@import "payment_method/*.png";

@mixin payment_method($name) {
    height: payment_method-sprite-height($name);
    width: payment_method-sprite-width($name);
    @include payment_method-sprite($name);
}

/* How to use no-padding mixin
    @include no-padding("left");
    @include no-padding("right");
    @include no-padding("top");
    @include no-padding("bottom");
    @include no-padding("all");

    .no-padding-left
    .no-padding-right
    .no-padding-bottom
    .no-padding-top
    .no-padding - to remove padding from all sides
*/

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@mixin no-margin($side) {
    @if $side == 'all' {
        .no-margin {
            margin: 0 !important;
        }
    } @else {
        .no-margin-#{$side} {
            margin-#{$side}: 0 !important;
        }
    }
}

@mixin cursor-disabled() {
    cursor: not-allowed;
}

@mixin box-sizing($fmt) {
    -webkit-box-sizing: $fmt;
    -moz-box-sizing: $fmt;
    box-sizing: $fmt;
}

@mixin box-shadow($fmt) {
    -webkit-box-shadow: $fmt;
    box-shadow: $fmt;
}

@function fade($color, $amnt) {
    @if $amnt > 1 {
        $amnt: $amnt / 100; // convert to percentage if int
    }
    @return rgba($color, $amnt);
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: $color_2) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
        content: '...';
        position: absolute;
        right: 14px;
        top: 18px;
        background-color: #fff;
        width: 30px;
        text-align: center;
        line-height: 1em;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $bgColor;
    }
}
