body {
    cursor: default;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    a {
        &:focus {
            outline: none;
            outline-offset: 0;
            text-decoration: none;
        }
    }

    .our-terms {
        @media (max-width: 480px) {
            padding-left: 15px;
        }
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    .buttons {
        margin-top: 50px;
    }

    @media (min-width: 768px) {
        .col-sm-5ths {
            width: 25%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }
}
