body {
    @include roboto-font($light-font, $light-font-weight);
    font-size: 14px;
    //@include text-shadow(rgba(0, 0, 0, 0.12) 0 0 1px);
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

h1, h3 {
    font-size: 24px;
    color: $color_4;
    line-height: 1.2em;
}

h2 {
    @include roboto-font($regular-font, $regular-font-weight);
    font-size: 16px;
}

p {
    @include roboto-font($light-font, $light-font-weight);
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 30px;
}

ol {
    li {
        list-style: decimal;
        margin-bottom: 30px;
    }
}
