$color_1: #353535;
$color_2: #ffffff;
$color_3: #9a9a9a;
$color_4: #212121;
$color_5: #606060;
$color_6: #80ab57;
$color_7: #ecefef;
$color_8: #757474;
$color_9: #9b9b9b;
$color_11: #000000;
$color_12: #ebecf1;
$color_13: #d9d9d9;
$color_14: #f1f1f1;
$color_15: #474747;
$color_16: #e4c030;
$color_17: #f5f5f5;
$color_18: #767676;
$color_19: #3c3c3c;
$color_20: #202020;
$color_21: #c8c8c8;
$color_22: #a8a8a8;
$color_23: #999999;
$color_24: #bababa;
$color_25: #4267B2;
$color_26: #cc3523;
$color_27: #BD081C;
$color_28: #949494;
$color_29: #969696;
$color_30: #1b93c5;

$color_63: #858585;
$color_64: #efefef;
$color_65: #c9ecfa;


$color-red-error: #b5341a;
$color-grey-arrow: $color_8;

$width-default: 100% !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: $color_3 !default;

$font-name: flex-slider-font;
$default-easing: ease;
$default-duration: 1s;
$default-border-radius: 5px;
$default-box-shadow-x-axis: 0;
$default-box-shadow-y-axis: 1px;
$default-box-shadow-blur: 2px;
$default-box-shadow-color: rgba(0, 0, 0, 0.2);
$default-box-shadow-inset: '';
$flexslider-margin: 20px 0 20px;
$flexslider-bg: $color_2;
$flexslider-border: 4px solid #fff;
$flexslider-border-radius: 4px;
$flexslider-box-shadow-x-axis: 0;
$flexslider-box-shadow-y-axis: 1px;
$flexslider-box-shadow-blur: 4px;
$flexslider-box-shadow-color: rgba(0, 0, 0, 0.2);
$flexslider-box-shadow-inset: '';
$flex-viewport-slider-max-height: 780px;
$flex-viewport-carousel-max-height: 100px;
$flex-viewport-loading-max-height: 300px;
$flex-control-thumbs: 5px 0 0;
$flex-direction-nav-icon-color: #fff;
$flex-pauseplay-icon-play: '\f003';
$flex-pauseplay-icon-pause: '\f004';
