<div class="comments-wrapper">
    <h3 class="head">Коментари (4)</h3>
    <div class="write-comment">
        <img src="../images/photos/image1.png" alt="" class="my-photo">
        <div class="comment-block">
            <div class="form-group">
                <textarea class="form-control" placeholder="Напиши коментар..."></textarea>
            </div>
            <button class="btn btn-success btn-custom btn-sm">Изпрати</button>
        </div>
    </div>
    <ul class="comments">
        <li class="comment">
            <img src="../images/photos/image2.jpg" alt="" class="comment-user-photo">
            <div class="comment-content">
                <a href="#" class="comment-author">Румен Русев</a>
                <span class="separator">/</span>
                <span class="comment-date">преди 2 дни</span>
                <p>Силна личност, силен портрет!</p>
                <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак особено.</p>
                <p>Браво за портрета!</p>
            </div>
        </li>
        <li class="comment">
            <img src="../images/photos/image2.jpg" alt="" class="comment-user-photo">
            <div class="comment-content">
                <a href="#" class="comment-author">Румен Русев</a>
                <span class="separator">/</span>
                <span class="comment-date">преди 2 дни</span>
                <p>Силна личност, силен портрет!</p>
                <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак особено.</p>
                <p>Браво за портрета!</p>
            </div>
        </li>
        <li class="comment">
            <img src="../images/photos/image2.jpg" alt="" class="comment-user-photo">
            <div class="comment-content">
                <a href="#" class="comment-author">Румен Русев</a>
                <span class="separator">/</span>
                <span class="comment-date">преди 2 дни</span>
                <p>Силна личност, силен портрет!</p>
                <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак особено.</p>
                <p>Браво за портрета!</p>
            </div>
        </li>
    </ul>
</div>
