<ul class="contest-path">
    <li class="contest-category">
        <a href="#">Best of the Year</a>
        <span class="separator"></span>
    </li>
    <li class="contest-author">
        <a href="#">
            <span class="name">Валентин Русев</span>
            <span class="nickname">chukov</span>
            <span class="pro-account-icon">Про</span>
        </a>
    </li>
    <li class="contest-author-address">
        <a href="#">
            <span class="text">Пловдив</span>
        </a>
    </li>
</ul>
