<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
    <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="mobile-menu hidden-md hidden-lg text-right">
        <span class="icon mobile-menu-hamburger"></span>
    </div>
    <div class="header-menu-wrapper hidden-xs hidden-sm">
        <ul class="header-menu top-menu">
            <li class="menu-item">
                <a href="photographers" class="menu-element photographers">
                    <span class="icon"></span>
                    <span class="text">Фотографи</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="photos" class="menu-element pictures">
                    <span class="icon"></span>
                    <span class="text">Снимки</span>
                </a>
            </li>
            <li class="menu-item has-submenu active">
                <a href="photo-stories" class="menu-element photo-stories">
                    <span class="icon"></span>
                    <span class="text">Фотоистории</span>
                </a>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="photo-stories-preview" class="menu-element">
                            <span class="text">Фотоистория Преглед</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photo-stories-upload" class="menu-element">
                            <span class="text">Качи Фотоистория</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item has-submenu">
                <a href="#" class="menu-element themes">
                    <span class="icon"></span>
                    <span class="text">Теми</span>
                </a>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="interview-form" class="menu-element pictures">
                            <span class="text">Интервю Форма</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="interview" class="menu-element pictures">
                            <span class="text">Интервю</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="about-us" class="menu-element">
                            <span class="text">За нас</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="contacts" class="menu-element">
                            <span class="text">Контакти</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="terms-of-use" class="menu-element">
                            <span class="text">Условия</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographers" class="menu-element">
                            <span class="text">Фотографи</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographer-gallery" class="menu-element">
                            <span class="text">Галерия на фотограф</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographer-msg-all" class="menu-element">
                            <span class="text">Всички съобщения</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographer-msg-single" class="menu-element">
                            <span class="text">Съобщение</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="registration" class="menu-element">
                            <span class="text">Регистрация</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="join-pro" class="menu-element">
                            <span class="text">Регистрация ПРО</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="admin" class="menu-element">
                            <span class="text">Админ</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="admin-edit" class="menu-element">
                            <span class="text">Редактирай Админ</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="profile" class="menu-element">
                            <span class="text">Профил</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="profile-edit" class="menu-element">
                            <span class="text">Редактирай Профил</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-4 col-lg-4 hidden-xs hidden-sm">
    <div class="language-account-wrapper">
        <ul class="top-menu language-switcher">
            <li class="menu-item has-submenu">
                <a href="#english" class="menu-element">
                    English
                </a>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="#" class="menu-element">
                            <span class="icon"></span>
                            <span class="text">Español</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="user-account-tools-wrapper logged clearfix">
            <!--Само предложение!-->
            <!--Трий ги тези коментари когато качваш на прод. Виждат се при F12 :)-->
            <li class="user-account-tool messages">
                <a href="user-messages">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span class="counter">99</span>
                </a>
                <div class="user-notifications-list-wrapper">
                    <div class="user-notifications-list-tick"></div>
                    <header>
                        <span class="new-notifications-counter">Имате 1 ново съобщение</span>
                        <a href="#" class="view-all">Виж всички</a>
                    </header>
                    <!--Remove class hidden on loaded-->
                    <ul class="user-notifications-list ">
                        <li class="user-notification unread">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!--add class hidden on loaded-->
                    <div class="user-notifications-list hidden loading">
                        <span class="icon">
                            <i class="fa fa-spinner fa-spin spinner"></i>
                        </span>
                        <span class="text">Зарежда...</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="user-account logged">
            <ul class="top-menu">
                <li class="menu-item has-submenu">
                    <a href="#" class="menu-element">
                        <img src="images/photos/image10.jpg" alt="" class="profile-photo">
                        <span class="text">Влентин Русев</span>
                    </a>
                    <ul class="submenu">
                        <li class="menu-item">
                            <a href="#" class="menu-element">
                                <span class="icon"></span>
                                <span class="text">Моят профил</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-element">
                                <span class="icon"></span>
                                <span class="text">Моите снимки</span>
                            </a>
                        </li>
                        <li class="menu-item label-success">
                            <a href="#" class="menu-element">
                                <span class="icon"></span>
                                <span class="text">Стани ПРО член</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-element">
                                <span class="icon"></span>
                                <span class="text">Изход</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
