<!--Logo-->
<div class="col-xs-6 col-sm-6 col-md-2 col-lg-3">
    <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
    <div class="mobile-menu hidden-md hidden-lg text-right">
        <span class="icon mobile-menu-hamburger"></span>
    </div>
    <div class="header-menu-wrapper hidden-xs hidden-sm">
        <ul class="top-menu">
            <li class="menu-item">
                <a href="photographers" class="menu-element photographers">
                    <span class="icon"></span>
                    <span class="text">Фотографи</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="photos" class="menu-element pictures">
                    <span class="icon"></span>
                    <span class="text">Снимки</span>
                </a>
            </li>
            <li class="menu-item has-submenu active">
                <a href="photo-stories" class="menu-element photo-stories">
                    <span class="icon"></span>
                    <span class="text">Фотоистории</span>
                </a>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="photo-stories-preview" class="menu-element">
                            <span class="text">Фотоистория Преглед</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photo-stories-upload" class="menu-element">
                            <span class="text">Качи Фотоистория</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item has-submenu">
                <a href="#" class="menu-element themes">
                    <span class="icon"></span>
                    <span class="text">Теми</span>
                </a>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="interview-form" class="menu-element pictures">
                            <span class="text">Интервю Форма</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="interview" class="menu-element pictures">
                            <span class="text">Интервю</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="about-us" class="menu-element">
                            <span class="text">За нас</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="contacts" class="menu-element">
                            <span class="text">Контакти</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="terms-of-use" class="menu-element">
                            <span class="text">Условия</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographers" class="menu-element">
                            <span class="text">Фотографи</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographer-gallery" class="menu-element">
                            <span class="text">Галерия на фотограф</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographer-msg-all" class="menu-element">
                            <span class="text">Всички съобщения</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="photographer-msg-single" class="menu-element">
                            <span class="text">Съобщение</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="registration" class="menu-element">
                            <span class="text">Регистрация</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="join-pro" class="menu-element">
                            <span class="text">Регистрация ПРО</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="admin" class="menu-element">
                            <span class="text">Админ</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="admin-edit" class="menu-element">
                            <span class="text">Редактирай Админ</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="profile" class="menu-element">
                            <span class="text">Профил</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="profile-edit" class="menu-element">
                            <span class="text">Редактирай Профил</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4 col-lg-4 hidden-xs hidden-sm">
    <div class="language-account-wrapper">
        <ul class="top-menu language-switcher">
            <li class="menu-item has-submenu">
                <a href="#english" class="menu-element">
                    English
                </a>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="#" class="menu-element">
                            <span class="icon"></span>
                            <span class="text">Español</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="user-account">
            <a href="#" data-toggle="modal" data-target="#loginPopup">Вход</a>
            <span class="separator">/</span>
            <a href="registration" class="">Регистрация</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
