<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <a href="/" class="footer-logo" title="photo-forum.net">photo-forum.net</a>
                <div class="copyrights">
                    <span class="copyright">&copy; 2007-2017 Photo-Forum.net</span>
                    <p class="notice">
                        Снимките в този сайт са със запазени авторски права. Използването им без позволението на авторите е незаконно.
                    </p>
                </div>
                <ul class="share-buttons">
                    <li class="social-network">
                        <span class="icon share-facebook"></span>
                    </li>
                    <li class="social-network">
                        <span class="icon share-google"></span>
                    </li>
                    <li class="social-network">
                        <span class="icon share-pinterest"></span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <div class="block-wrapper">
                    <h3 class="block-title">Фото Форум Про</h3>
                    <ul class="block-list">
                        <li class="block-element">
                            <a href="contacts">Контакти</a>
                        </li>
                        <li class="block-element">
                            <a href="terms-of-use">Общи условия</a>
                        </li>
                        <li class="block-element">
                            <a href="about-us">За нас</a>
                        </li>
                        <li class="block-element">
                            <copyrightsa href="#">English</copyrightsa>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <div class="block-wrapper">
                    <h3 class="block-title">Теми</h3>
                    <ul class="block-list">
                        <li class="block-element">
                            <a href="#">Сватбена фотография</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Предметна фотография</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Семейни сесии</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Снимане на деца</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Интериор</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">

                <i class="icon payment-methods"></i>
            </div>
        </div>
    </div>
</footer>
