<div class="modal fade" id="loginPopup" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="icon close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <button class="btn btn-block bordered-button btn-facebook">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <span class="text">
                        Влизане с facebook
                    </span>
                </button>
                <div class="separator-module">
                    <hr class="separator-line">
                    <span class="separator-text"><span>или</span></span>
                </div>
                <div class="form-wrap">
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Име *">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Електронна поща *">
                        </div>
                        <div class="checkbox custom-checkbox">
                            <span class="character-checkbox"></span>
                            <span class="label">Запомни ме</span>
                        </div>
                        <button class="btn btn-success btn-block btn-custom btn-md">Изпрати</button>
                    </form>
                </div>
                <a href="registration" class="open-account-link">
                    <span class="icon arrow-right"></span>
                    <span class="text">Регистрирай се сега!</span>
                </a>
            </div>
        </div>
    </div>
</div>