<div class="mobile-menu-wrapper hidden-md hidden-lg">
    <ul class="mobile-menu-nav">
        <li class="menu-item hidden">
            <span class="icon mobile-menu-back"></span>
        </li>
        <li class="menu-item">
            <span class="icon mobile-menu-close"></span>
        </li>
    </ul>
    <ul class="top-menu">
        <li class="menu-item">
            <a href="photographers" class="menu-element photographers">
                <span class="text">Фотографи</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="photos" class="menu-element pictures">
                <span class="text">Снимки</span>
            </a>
        </li>
        <li class="menu-item has-submenu active">
            <a href="photo-stories" class="menu-element photo-stories">
                <span class="icon"></span>
                <span class="text">Фотоистории</span>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="photo-stories-preview" class="menu-element">
                        <span class="text">Фотоистория Преглед</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photo-stories-upload" class="menu-element">
                        <span class="text">Качи Фотоистория</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-element themes">
                <span class="text">Теми</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="interview-form" class="menu-element pictures">
                        <span class="text">Интервю Форма</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="interview" class="menu-element pictures">
                        <span class="text">Интервю</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="about-us" class="menu-element">
                        <span class="text">За нас</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="contacts" class="menu-element">
                        <span class="text">Контакти</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="terms-of-use" class="menu-element">
                        <span class="text">Условия</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photographers" class="menu-element">
                        <span class="text">Фотографи</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photographer-gallery" class="menu-element">
                        <span class="text">Галерия на фотограф</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photographer-msg-all" class="menu-element">
                        <span class="text">Всички съобщения</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photographer-msg-single" class="menu-element">
                        <span class="text">Съобщение</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="registration" class="menu-element">
                        <span class="text">Регистрация</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="join-pro" class="menu-element">
                        <span class="text">Регистрация ПРО</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="admin" class="menu-element">
                        <span class="text">Админ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="admin-edit" class="menu-element">
                        <span class="text">Редактирай Админ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile" class="menu-element">
                        <span class="text">Профил</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile-edit" class="menu-element">
                        <span class="text">Редактирай Профил</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item user-account">
            <a href="#" class="menu-element" data-toggle="modal" data-target="#loginPopup">
                <span class="text">Вход</span>
            </a>
            <span class="separator">|</span>
            <a href="registration" class="menu-element">
                <span class="text">Регистрация</span>
            </a>
        </li>
        <li class="menu-item switch-language">
            <label for="language-switcher">Change language:</label>
            <select id="language-switcher">
                <option data-tokens="English">English</option>
                <option data-tokens="Español">Español</option>
            </select>
        </li>
    </ul>
</div>
