<ul class="share-this">
    <li class="network facebook">
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    <li class="network pinterest">
        <a href="#">
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </a>
    </li>
    <li class="network google-plus">
        <a href="#">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
    </li>
</ul>
