<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About us</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="about-us-page">
<% include includes/loginModalDesktop.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="col-md-pull-3">
                    <article class="content-wrapper">
                        <header class="content-header">
                            <h1>За нас</h1>
                            <h2>Кои сме ние?</h2>
                        </header>
                        <div class="content">
                            <p>Фото Форум е най-големият български сайт за фотография . Два пъти сайт на годината - след като зае първо място в категория
                                "Общности" за 2004 (наградата на журито), през 2005 спечели наградата на журито и наградата на публиката в категория "Изкуства",
                                а през 2006-та година, второ място в категория "Общности". Медиен партньор на сп. "Одисей", сп. "ФО" , Фотоваканция,
                                Фотофиеста.</p>
                            <p>Носител на награди и медали, съорганизатор на "БГ Прес Фото 2004". За последните години екипът му успя да организира интересни
                                конкурси. Потребителите на сайта спечелиха много награди, част от които можете да разгледате по-долу.</p>
                            <p>Много млади хора научиха нови неща за фотографията и започнаха творческия си път от Форума. Над 350 автори взеха участие в
                                различните изложби. Снимките на десетки други бяха публикувани в различни списания.</p>
                            <p>Сайтът Фото Форум се управлява от екип от специалисти в областта на фотографията, Интернет публикуването и издателските
                                технологии и е част от портфолиото на „Фото медия“ ЕООД.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
