<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="admin-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="content-wrapper">
        <header class="content-header">
            <h1>Администрация</h1>
            <h2>Управление на профилите на фотографите</h2>
        </header>
        <div class="panel with-nav-tabs panel-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="panel-heading col-md-pull-2">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#payments-by-photographers" data-toggle="tab">Списък с плащания от Фотографи</a></li>
                                <li><a href="#payments-by-photographers-pro" data-toggle="tab">Профили на автори в Про секцията</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="payments-by-photographers">
                                    <div class="content">
                                        <div class="filter-wrapper">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="filter-option">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Търси по име"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="filter-option">
                                                        <select data-live-search="true" multiple title="Държава">
                                                            <option data-tokens="България">България</option>
                                                            <option data-tokens="Испания">Испания</option>
                                                            <option data-tokens="Италия">Италия</option>
                                                            <option data-tokens="Холандия">Холандия</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="filter-option">
                                                        <select data-live-search="true" multiple title="Тема">
                                                            <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                                                            <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                            <option data-tokens="Интериор">Интериор</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="search filter-option">
                                                        <select data-live-search="true" multiple title="Период на валидност">
                                                            <option data-tokens="18.01.2017">18.01.2017</option>
                                                            <option data-tokens="26.02.2017">26.02.2017</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-custom btn-sm">търси</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="profile-name">Фотограф <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
                                                        <th>Статус на плащането</th>
                                                        <th>Периодите на валидност</th>
                                                        <th>Дата на заявката <i class="fa fa-sort-asc" aria-hidden="true"></i></th>
                                                        <th class="options">Действия</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="status text-success">
                                                            <span>Завършено (VISA)</span>
                                                        </td>
                                                        <td class="date-period">
                                                            <span class="total">12 месеца</span><br/>
                                                            <span class="period">21.01.2017 - 21.01.2018</span>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="delete text-success">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="edit text-success">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="status text-danger">
                                                            <span>Незавършено (Master Card)</span>
                                                        </td>
                                                        <td class="date-period">
                                                            <span class="total">12 месеца</span><br/>
                                                            <span class="period">21.01.2017 - 21.01.2018</span>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="delete text-success">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="edit text-success">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="status text-success">
                                                            <span>Завършено (VISA)</span>
                                                        </td>
                                                        <td class="date-period">
                                                            <span class="total">12 месеца</span><br/>
                                                            <span class="period">21.01.2017 - 21.01.2018</span>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="delete text-success">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="edit text-success">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="status text-success">
                                                            <span>Завършено (VISA)</span>
                                                        </td>
                                                        <td class="date-period">
                                                            <span class="total">12 месеца</span><br/>
                                                            <span class="period">21.01.2017 - 21.01.2018</span>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="delete text-success">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="edit text-success">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="status text-danger">
                                                            <span>Незавършено (Master Card)</span>
                                                        </td>
                                                        <td class="date-period">
                                                            <span class="total">12 месеца</span><br/>
                                                            <span class="period">21.01.2017 - 21.01.2018</span>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="delete text-success">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="edit text-success">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="status text-danger">
                                                            <span>Незавършено (Master Card)</span>
                                                        </td>
                                                        <td class="date-period">
                                                            <span class="total">12 месеца</span><br/>
                                                            <span class="period">21.01.2017 - 21.01.2018</span>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="delete text-success">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="edit text-success">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="payments-by-photographers-pro">
                                    <div class="content">
                                        <div class="filter-wrapper">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="filter-option">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Търси по име"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="filter-option">
                                                        <select data-live-search="true" multiple title="Държава">
                                                            <option data-tokens="България">България</option>
                                                            <option data-tokens="Испания">Испания</option>
                                                            <option data-tokens="Италия">Италия</option>
                                                            <option data-tokens="Холандия">Холандия</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="filter-option">
                                                        <select data-live-search="true" multiple title="Тема">
                                                            <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                                                            <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                            <option data-tokens="Интериор">Интериор</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="search filter-option">
                                                        <select data-live-search="true" multiple title="Период на валидност">
                                                            <option data-tokens="18.01.2017">18.01.2017</option>
                                                            <option data-tokens="26.02.2017">26.02.2017</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-custom btn-sm">търси</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="profile-name">Фотограф <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
                                                        <th>Държава</th>
                                                        <th>Град</th>
                                                        <th>Дата на регистрация <i class="fa fa-sort-asc" aria-hidden="true"></i></th>
                                                        <th class="options">Действия</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Валентин Русев</a>
                                                        </td>
                                                        <td class="country">
                                                            <span>България</span>
                                                        </td>
                                                        <td class="city">
                                                            <span class="total">12 месеца</span><br/>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="text-success delete">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="text-success edit">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Мочил Русев</a>
                                                        </td>
                                                        <td class="country">
                                                            <span>САЩ</span>
                                                        </td>
                                                        <td class="city">
                                                            <span class="total">12 месеца</span><br/>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="text-success delete">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="text-success edit">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Магдалена Петрова</a>
                                                        </td>
                                                        <td class="country">
                                                            <span>Незавършено (Master Card)</span>
                                                        </td>
                                                        <td class="city">
                                                            <span class="total">12 месеца</span><br/>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="text-success delete">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="text-success edit">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Саймън Смит</a>
                                                        </td>
                                                        <td class="country">
                                                            <span>Австрия</span>
                                                        </td>
                                                        <td class="city">
                                                            <span class="total">12 месеца</span><br/>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="text-success delete">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="text-success edit">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Панталей Морзов</a>
                                                        </td>
                                                        <td class="country">
                                                            <span>Мексико</span>
                                                        </td>
                                                        <td class="city">
                                                            <span class="total">12 месеца</span><br/>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="text-success delete">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="text-success edit">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="profile-name">
                                                            <a href="">Панталей Морзов</a>
                                                        </td>
                                                        <td class="country">
                                                            <span>Испания</span>
                                                        </td>
                                                        <td class="city">
                                                            <span class="total">12 месеца</span><br/>
                                                        </td>
                                                        <td class="date">
                                                            <span>18.01.2017</span>
                                                        </td>
                                                        <td class="options">
                                                            <a href="#" class="text-success delete">изтрий</a>
                                                            <span>|</span>
                                                            <a href="#" class="text-success edit">редактирай</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pagination-wrapper">
                            <div class="col-md-offset-4 col-md-4">
                                <div class="col-md-pull-4">
                                    <div class="pagination-tools">
                                        <div class="pagination-navigation">
                                            <div class="previous-page">
                                                    <span rel="prev" class="page-prev">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        <span class="text">Предишна</span>
                                                    </span>
                                            </div>
                                            <div class="next-page">
                                                <a href="#" rel="next" class="page-next">
                                                    <span class="text">Следваща</span>
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <ul class="pagination">
                                            <li class="active">
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                            <li>
                                                <a href="#">3</a>
                                            </li>
                                            <li>
                                                <a href="#">4</a>
                                            </li>
                                            <li>
                                                <a href="#">5</a>
                                            </li>
                                            <li>
                                                <a href="#">6</a>
                                            </li>
                                            <li>
                                                <a href="#" class="left-more">...</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
