<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contacts</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="contacts-page">
<% include includes/loginModalDesktop.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <article class="content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <header class="content-header">
                        <h1>Контакти</h1>
                        <h2>Пишете ни и ние ще се свържем с вас обратно възможно най-скоро.</h2>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="content clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <section class="contacts-form">
                            <div class="form-wrap">
                                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email *">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" cols="30" rows="10" class="form-control" placeholder="Съобщение *"></textarea>
                                    </div>
                                    <div class="checkbox custom-checkbox">
                                        <span class="character-checkbox"></span>
                                        <span class="label">Съгласен съм с обработката на лични данни *</span>
                                    </div>
                                    <button class="btn btn-success btn-custom btn-md">Изпрати</button>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <section class="contacts-information">
                            <div class="contact-department administration">
                                <h3 class="department-title">Администриране на сайта:</h3>
                                <p class="department-info">Ние редовно следим пощата си и отговаряме на запитванията и въпросите поставени към нас. Ако се
                                    налага
                                    обаждане, моля оставете телефона си.</p>
                                <div class="department-contacts">
                                    <a href="mailto:contact@photo-forum.net" class="contact mail" title="contact@photo-forum.net">
                                        <span class="icon email"></span>
                                        <span class="text">contact@photo-forum.net</span>
                                    </a>
                                </div>
                            </div>

                            <div class="contact-department advertising">
                                <h3 class="department-title">Рекламирате в сайта:</h3>
                                <p class="department-info"><span class="leader">Александър Петров</span></p>
                                <div class="department-contacts">
                                    <a href="mailto:sales@photo-forum.net" class="contact mail" title="sales@photo-forum.net">
                                        <span class="icon email"></span>
                                        <span class="text">sales@photo-forum.net</span>
                                    </a>
                                    <div class="contact phone">
                                        <span class="icon phone"></span>
                                        <span class="text">0888 253223</span>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-department public-relations">
                                <h3 class="department-title">Връзки с обществеността:</h3>
                                <p class="department-info"><span class="leader">Мая Манчева</span></p>
                                <div class="department-contacts">
                                    <a href="mailto:pr@photo-forum.net" class="contact mail" title="pr@photo-forum.net">
                                        <span class="icon email"></span>
                                        <span class="text">pr@photo-forum.net</span>
                                    </a>
                                    <div class="contact phone">
                                        <span class="icon phone"></span>
                                        <span class="text">0885 205056</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
