<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="home-page">
<% include includes/loginModalDesktop.ejs %>
<div class="main-header" style="background-image: url('images/backgrounds/home_header_background.jpg')">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="content-wrapper">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="open-account-photographer">
                        <h2>Аз съм фотограф</h2>
                        <p>Обсъждайте снимки с други фотографи и бъдете наемани за сватбени сесии!</p>
                        <a href="registration" class="btn btn-success btn-custom btn-md">Регистрирай се!</a>
                    </div>
                </div>
                <div class="hidden-xs col-sm-4 col-md-4">
                    <div class="logo-home-header">
                        <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="looking-for-photographer">
                        <h2>Търся фотограф</h2>
                        <p>Изберете от повече от 46 000 сватбени фотографи в нашата директория</p>
                        <a class="btn btn-success btn-custom btn-md">
                            <span class="text">Намери фотограф</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-down-wrapper">
        <span class="icon arrow-down"></span>
    </div>
</div>
<div class="photographers-all section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="head">Фотографи</h2>
                <ul class="photographers-list">
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                    <li class="photographer main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                <span class="text">Валентин Русев</span>
                            </a>
                        </div>
                        <div class="photographer-name">
                            <span class="name">Валентин Русев</span>
                            <span class="nickname">chukov</span>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-success btn-custom btn-md btn-photo-all loading">
                    <span class="text">всички фотографи</span>
                    <i class="fa fa-spinner fa-spin spinner" style="font-size:24px"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="best-photos section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="head">Най-добрите снимки</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row-thumb-photos">
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                </div>
                <div class="row-thumb-photos">
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                </div>
                <div class="row-thumb-photos">
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                    <div class="photo-wrapper">
                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-success btn-custom btn-md btn-photo-all loading">
                    <span class="text">всички снимки</span>
                    <i class="fa fa-spinner fa-spin spinner" style="font-size:24px"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="our-themes section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="head">Теми</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a href="#" class="theme-category">
                    <img src="../images/photos/theme1.jpg" alt="" class="theme-image">
                    <span class="theme-name">Сватбена фотография</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="#" class="theme-category">
                            <img src="../images/photos/theme2.jpg" alt="" class="theme-image">
                            <span class="theme-name">Семейни сесии</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <a href="#" class="theme-category">
                            <img src="../images/photos/theme3.jpg" alt="" class="theme-image">
                            <span class="theme-name">Интериор</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="#" class="theme-category">
                            <img src="../images/photos/theme4.jpg" alt="" class="theme-image">
                            <span class="theme-name">Портрети</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a href="#" class="theme-category">
                    <img src="../images/photos/theme5.jpg" alt="" class="theme-image">
                    <span class="theme-name">Детски сесии</span>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="top-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="most-popupalr-cities">
                    <h2 class="head">Най-популярни градове:</h2>
                    <ul class="cities-list">
                        <li class="city">
                            <a href="/">Сливен</a>
                        </li>
                        <li class="city">
                            <a href="/">Добрич</a>
                        </li>
                        <li class="city">
                            <a href="/">Шумен</a>
                        </li>
                        <li class="city">
                            <a href="/">Бургас</a>
                        </li>
                        <li class="city">
                            <a href="/">Русе</a>
                        </li>
                        <li class="city">
                            <a href="/">София</a>
                        </li>
                        <li class="city">
                            <a href="/">Варна</a>
                        </li>
                        <li class="city">
                            <a href="/">Бургас</a>
                        </li>
                        <li class="city">
                            <a href="/">Русе</a>
                        </li>
                        <li class="city">
                            <a href="/">Стара Загора</a>
                        </li>
                        <li class="city">
                            <a href="/">Сливен</a>
                        </li>
                        <li class="city">
                            <a href="/">Добрич</a>
                        </li>
                        <li class="city">
                            <a href="/">Шумен</a>
                        </li>
                        <li class="city">
                            <a href="/">Бургас</a>
                        </li>
                        <li class="city">
                            <a href="/">Русе</a>
                        </li>
                        <li class="city">
                            <a href="/">София</a>
                        </li>
                        <li class="city">
                            <a href="/">Варна</a>
                        </li>
                        <li class="city">
                            <a href="/">Бургас</a>
                        </li>
                        <li class="city">
                            <a href="/">Русе</a>
                        </li>
                        <li class="city">
                            <a href="/">Стара Загора</a>
                        </li>
                        <li class="city">
                            <a href="/">Сливен</a>
                        </li>
                        <li class="city">
                            <a href="/">Добрич</a>
                        </li>
                        <li class="city">
                            <a href="/">Шумен</a>
                        </li>
                        <li class="city">
                            <a href="/">Бургас</a>
                        </li>
                        <li class="city">
                            <a href="/">Русе</a>
                        </li>
                        <li class="city">
                            <a href="/">София</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<% include includes/footer.ejs %>
</body>
</html>
