<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Interview Form Page</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="interview-page">
<% include includes/loginModalDesktop.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <article class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <h1>Интервю</h1>
                        <div class="switch-interview-language">
                            <h5>Език на интервюто</h5>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Български</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-details">
                            <div class="photo-wrapper">
                                <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                                    <span class="text">Валентин Русев</span>
                                </a>
                            </div>
                            <div class="user-details">
                                <a class="profile-name">
                                    <span class="name">Валентин Русев</span>
                                    <span class="pro-account-icon">Про</span>
                                    <span class="nickname">chukov</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="form-wrap">
                            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                <div class="form-group">
                                    <textarea name="message" cols="30" rows="10" class="form-control" placeholder="Разкажете ни повече за себе си"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-wrap">
                            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                <div class="form-group">
                                    <label for="question-1">Въпрос 1</label>
                                    <textarea name="message" cols="30" rows="10" class="form-control" placeholder="Въпрос 1"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="question-2">Въпрос 2</label>
                                    <textarea name="message" cols="30" rows="10" class="form-control" placeholder="Въпрос 2"></textarea>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <span class="character-checkbox"></span>
                                    <span class="label">Съгласен съм с обработката на лични данни *</span>
                                </div>
                                <button class="btn btn-success btn-custom btn-md">Изпрати</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
