<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="join-pro-page">
<% include includes/loginModalDesktop.ejs %>
<div class="main-header">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="content-wrapper">
                <div class="col-xs-12 col-md-12">
                    <div class="logo-join-pro hidden-xs hidden-sm">
                        <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
                    </div>
                    <h1 class="head">Професионален фотографски клуб</h1>
                    <div class="logo-join-pro hidden-md hidden-lg">
                        <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
                    </div>
                    <h2 class="sub-head">Стани наш Про член!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-down-wrapper">
        <span class="icon arrow-down"></span>
    </div>
</div>
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <article class="content-wrapper">
                    <header class="content-header">
                        <h2>Нашите Про членове получават някои допълнителни превилегии:</h2>
                    </header>
                    <div class="content">
                        <table class="table table-striped open-account-type">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Про</th>
                                <th>Обикновен</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span>Брой качени снимки на седмица</span>
                                </td>
                                <td>
                                    <span>10</span>
                                </td>
                                <td>
                                    <span>3</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Брой Фото истории на месец</span>
                                </td>
                                <td>
                                    <span>4</span>
                                </td>
                                <td>
                                    <span>1</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Общ брой снимки в портфолиото</span>
                                </td>
                                <td>
                                    <span>без лимит</span>
                                </td>
                                <td>
                                    <span>300</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Общ брой фотоистории</span>
                                </td>
                                <td>
                                    <span>без лимит</span>
                                </td>
                                <td>
                                    <span>4</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pro-feature-wrapper">
                            <div class="pro-feature-header">
                                <h3 class="btn btn-sm btn-default head">Избери тема</h3>
                            </div>
                            <div class="pro-feature-body">
                                <table class="table table-striped choose-theme">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span>Сватбена фотография</span>
                                        </td>
                                        <td>
                                            <div class="checkbox custom-checkbox checked">
                                                <span class="character-checkbox"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Семейни сесии</span>
                                        </td>
                                        <td>
                                            <div class="checkbox custom-checkbox checked">
                                                <span class="character-checkbox"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Интериор</span>
                                        </td>
                                        <td>
                                            <div class="checkbox custom-checkbox">
                                                <span class="character-checkbox"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Детски сесии</span>
                                        </td>
                                        <td>
                                            <div class="checkbox custom-checkbox">
                                                <span class="character-checkbox"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="pro-feature-wrapper">
                            <div class="pro-feature-header">
                                <h3 class="btn btn-sm btn-default head">План</h3>
                            </div>
                            <div class="pro-feature-body">
                                <div class="period-plan">
                                    <h3>Избери период на плана:</h3>
                                    <div class="period-range hidden-xs hidden-sm">
                                        <div class="period period-empty"></div>
                                        <div class="period period-filled" id="six-months"></div>
                                        <div class="period-separator period-filled three-months"
                                             data-target="three-months"></div>
                                        <div class="period-separator period-filled current six-months"
                                             data-target="six-months"></div>
                                        <div class="period-separator nine-months" data-target="nine-months"></div>
                                        <div class="period-separator twelve-months" data-target="twelve-months"></div>
                                        <span class="period-text three-months">3 месеца</span>
                                        <span class="period-text six-months">6 месеца</span>
                                        <span class="period-text nine-months">9 месеца</span>
                                        <span class="period-text twelve-months">12 месеца</span>
                                    </div>
                                    <select class="period-range hidden-md hidden-lg">
                                        <option data-tokens="3">3 месеца</option>
                                        <option data-tokens="6">6 месеца</option>
                                        <option data-tokens="9">9 месеца</option>
                                        <option data-tokens="12">12 месеца</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="price">
                            <span class="text">сума общо:</span>
                            <span class="value">1 149 лв.</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="payment-methods">
                        <h3>Избери метод за плащане:</h3>
                        <ul class="payment-methods-list">
                            <li class="payment-method">
                                <i class="icon debit-credit-carts">Дебитна или кредитна карта</i>
                            </li>
                            <li class="payment-method">
                                <i class="icon epay">epay</i>
                            </li>
                            <li class="payment-method">
                                <i class="icon easypay">easypay</i>
                            </li>
                            <li class="payment-method">
                                <i class="icon paypal">paypal</i>
                            </li>
                            <li class="payment-method">
                                <i class="icon bank-transfer">Банков трансфер</i>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="content-footer">
                    <div class="discount-code">
                        <h3>Код за отстъпка</h3>
                        <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                            <div class="row">
                                <div class="col-xs-8 col-lg-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="въведете код за отстъпка">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-lg-3">
                                    <button class="btn btn-success btn-block btn-custom btn-md">Изпрати</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <span class="help-block text-right">Вашата отстъпа: <b>100.00лв.</b></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="price">
                        <span class="text">сума след отстъпката:</span>
                        <span class="value">1 049 лв.</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button class="btn btn-success btn-custom">Купи</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
