<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="photos-page">
<header class="top-header">
    <div class="container">
        <div class="row">
            <% include includes/desktopTopHeaderLogged.ejs %>
        </div>
    </div>
    <% include includes/mobileMenu.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="photos-wrapper">
                <div class="panel with-nav-tabs panel-default">
                    <div class="container-wrapper">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#all" data-toggle="tab">Всички</a></li>
                                <li><a href="#wedding-photography" data-toggle="tab">Сватбена фотография</a></li>
                                <li><a href="#family-photography" data-toggle="tab">Семейни сесии</a></li>
                                <li><a href="#interior" data-toggle="tab">Интериор</a></li>
                                <li><a href="#photo-forum" data-toggle="tab">Фото Форум</a></li>
                                <li><a href="#family-photography" data-toggle="tab">Семейни сесии</a></li>
                                <li><a href="#interior" data-toggle="tab">Интериор</a></li>
                                <li><a href="#photo-forum" data-toggle="tab">Фото Форум</a></li>
                                <li><a href="#family-photography" data-toggle="tab">Семейни сесии</a></li>
                                <li><a href="#interior" data-toggle="tab">Интериор</a></li>
                                <li><a href="#photo-forum" data-toggle="tab">Фото Форум</a></li>
                                <li><a href="#family-photography" data-toggle="tab">Семейни сесии</a></li>
                                <li><a href="#interior" data-toggle="tab">Интериор</a></li>
                                <li><a href="#photo-forum" data-toggle="tab">Фото Форум</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="all">
                                    <div class="photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')"></div>
                                                            <span class="photo-author">Ivan ivanov</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination-wrapper">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-4">
                                                <div class="col-md-pull-4">
                                                    <div class="pagination-tools">
                                                        <div class="pagination-navigation">
                                                            <div class="previous-page">
                                                    <span rel="prev" class="page-prev">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        <span class="text">Предишна</span>
                                                    </span>
                                                            </div>
                                                            <div class="next-page">
                                                                <a href="#" rel="next" class="page-next">
                                                                    <span class="text">Следваща</span>
                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <ul class="pagination">
                                                            <li class="active">
                                                                <span>1</span>
                                                            </li>
                                                            <li>
                                                                <a href="#">2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="left-more">...</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="wedding-photography">2</div>
                                <div class="tab-pane fade" id="family-photography">3</div>
                                <div class="tab-pane fade" id="interior">4</div>
                                <div class="tab-pane fade" id="photo-forum">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
