<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photographers</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="photographer-msg-single-page messages">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="panel with-nav-tabs panel-default">
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li><a href="photographer-msg-all">Всички съобщения</a></li>
                                <li><a href="photographer-msg-all#from-couples">От двойки</a></li>
                                <li><a href="photographer-msg-all#from-photographers">От фотографи</a></li>
                                <li><a href="photographer-msg-all#deleted">Изтрити</a></li>
                                <li><a href="photographer-msg-all#blocked">Блокирани</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="message-header">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                                        <h2 class="send-msg-to">
                                                            Изпрати съобщение на
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo" style="background-image: url('https://media.giphy.com/media/9bTKcqImgMhVK/giphy.gif')">
                                                                        <span class="text">Валентин Русев</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <span class="msg-to-name">Валентин Русев</span>
                                                        </h2>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-right">
                                                        <div class="msg-controls">
                                                            <button class="btn btn-sm block-user-message bordered-button">
                                                                <span class="text">Блокирай потребителя</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="message-content form-control" placeholder="Напиши съобщение *"></textarea>
                                            </div>
                                            <div class="message-bottom-controls">
                                                <button class="btn btn-success btn-custom btn-sm">изпрати</button>
                                                <div class="switch">
                                                    <div class="switch-option">
                                                        <input class="custom-switch-checkbox" checked type="checkbox">
                                                    </div>
                                                    <span class="text-right">Уведомявай ме по имейл за нови съобщения за тази дискусия</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="previous-message">
                                                <button class="btn bordered-button btn-sm">
                                                    <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                    <span class="text hidden-xs hidden-sm">Изтрий съобщението</span>
                                                </button>
                                                <div class="msg-head main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                    <div class="sender-name-and-message-date">
                                                        <a href="" class="msg-from-name">Петър Митев</a>
                                                        <span class="msg-date">преди 7 дни</span>
                                                    </div>
                                                </div>
                                                <div class="msg-content">
                                                    <p>Здравейте,</p>
                                                    <p>Искаме да ви наемем за фотограф на нашата сватба, която ще се състои на 28 Август. Ще се радваме точно вие да снимате на този важен за нас момента</p>
                                                    <p>С Уважение,Пантелей Суджуков</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="previous-message">
                                                <button class="btn bordered-button btn-sm">
                                                    <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                    <span class="text hidden-xs hidden-sm">Изтрий съобщението</span>
                                                </button>
                                                <div class="msg-head main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo" style="background-image: url('https://hdwallsource.com/img/2014/7/hd-avatar-wallpaper-23830-24486-hd-wallpapers.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                    <div class="sender-name-and-message-date">
                                                        <a href="" class="msg-from-name">Петър Митев</a>
                                                        <span class="msg-date">преди 7 дни</span>
                                                    </div>
                                                </div>
                                                <div class="msg-content">
                                                    <p>Здравейте,</p>
                                                    <p>Искаме да ви наемем за фотограф на нашата сватба, която ще се състои на 28 Август. Ще се радваме точно вие да снимате на този важен за нас момента</p>
                                                    <p>С Уважение,Пантелей Суджуков</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="previous-message">
                                                <button class="btn bordered-button btn-sm">
                                                    <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                    <span class="text hidden-xs hidden-sm">Изтрий съобщението</span>
                                                </button>
                                                <div class="msg-head main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo" style="background-image: url('https://www.planwallpaper.com/static/images/ComputerDesktopWallpapersCollection540_047_inxQEjv.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                    <div class="sender-name-and-message-date">
                                                        <a href="" class="msg-from-name">Петър Митев</a>
                                                        <span class="msg-date">преди 7 дни</span>
                                                    </div>
                                                </div>
                                                <div class="msg-content">
                                                    <p>Здравейте,</p>
                                                    <p>Искаме да ви наемем за фотограф на нашата сватба, която ще се състои на 28 Август. Ще се радваме точно вие да снимате на този важен за нас момента</p>
                                                    <p>С Уважение,Пантелей Суджуков</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
