<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile</title>
    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="photographer-gallery-page">
<header class="top-header">
    <div class="container">
        <div class="row">
            <% include includes/desktopTopHeaderLogged.ejs %>
        </div>
    </div>
    <% include includes/mobileMenu.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <% include includes/contest_path.ejs %>
        </div>
        <div class="profile-details">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="main-details">
                    <div class="photo-wrapper">
                        <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                            <span class="text">Валентин Русев</span>
                        </a>
                    </div>
                    <a class="profile-name">
                        <span class="name">Валентин Русев</span>
                        <span class="pro-account-icon">Про</span>
                        <span class="nickname">chukov</span>
                    </a>
                    <a class="add-to-favorites">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span class="text">добави в любими</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-right">
                <button class="btn btn-sm bordered-button">
                    <span class="text">Виж профила на фотографа</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="separator-module">
                <hr class="separator-line">
                <h2 class="head separator-text">
                    <span>Галерия на Валентин Русев</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-photo-viewer">
                <div class="category-photo-slider flexslider">
                    <ul class="slides">
                        <li class="slide-item">
                            <div class="slide-photo">
                                <div class="badges-list">
                                    <div class="badge-item">
                                        <div class="icon badge badge-yellow">
                                            <span class="award">2</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <div class="icon badge badge-cian">
                                            <span class="award">26</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-purple">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-grey">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                </div>
                                <img src="../images/gallery/the_mayan_city.jpg"/>
                            </div>
                            <div class="photo-controls">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <button class="btn btn-sm bordered-button like-button">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="text">Харесвам</span>
                                        </button>
                                        <button class="btn btn-sm bordered-button add-to-favorites-button">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <span class="text">Добави в любими</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="share-and-info">
                                            <ul class="share-buttons">
                                                <li class="social-network">
                                                    <span class="icon share-facebook"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-google"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-pinterest"></span>
                                                </li>
                                            </ul>
                                            <div class="photo-info">
                                                <p class="photo-camera-model">Canon EOS 5D Mark III</p>
                                                <p class="photo-camera-lens">Canon EF 80-200mm f/2.8L</p>
                                                <ul class="photo-camera-settings">
                                                    <li class="setting">127mm</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ƒ/11</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">1/400s</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ISO 100</li>
                                                </ul>
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </div>
                                            <button class="btn btn-sm btn-photo-info">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                <span class="text">Инфо</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="slide-item">
                            <div class="slide-photo">
                                <div class="badges-list">
                                    <div class="badge-item">
                                        <div class="icon badge badge-yellow">
                                            <span class="award">2</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <div class="icon badge badge-cian">
                                            <span class="award">26</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-purple">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-grey">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                </div>
                                <img src="../images/gallery/kid.jpg"/>
                            </div>
                            <div class="photo-controls">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <button class="btn btn-sm bordered-button like-button">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="text">Харесвам</span>
                                        </button>
                                        <button class="btn btn-sm bordered-button add-to-favorites-button">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <span class="text">Добави в любими</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="share-and-info">
                                            <ul class="share-buttons">
                                                <li class="social-network">
                                                    <span class="icon share-facebook"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-google"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-pinterest"></span>
                                                </li>
                                            </ul>
                                            <div class="photo-info">
                                                <p class="photo-camera-model">Canon EOS 5D Mark III</p>
                                                <p class="photo-camera-lens">Canon EF 80-200mm f/2.8L</p>
                                                <ul class="photo-camera-settings">
                                                    <li class="setting">127mm</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ƒ/11</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">1/400s</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ISO 100</li>
                                                </ul>
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </div>
                                            <button class="btn btn-sm btn-photo-info">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                <span class="text">Инфо</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="slide-item">
                            <div class="slide-photo">
                                <div class="badges-list">
                                    <div class="badge-item">
                                        <div class="icon badge badge-yellow">
                                            <span class="award">2</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <div class="icon badge badge-cian">
                                            <span class="award">26</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-purple">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-grey">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                </div>
                                <img src="../images/gallery/slider1.jpg"/>
                            </div>
                            <div class="photo-controls">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <button class="btn btn-sm bordered-button like-button">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="text">Харесвам</span>
                                        </button>
                                        <button class="btn btn-sm bordered-button add-to-favorites-button">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <span class="text">Добави в любими</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="share-and-info">
                                            <ul class="share-buttons">
                                                <li class="social-network">
                                                    <span class="icon share-facebook"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-google"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-pinterest"></span>
                                                </li>
                                            </ul>
                                            <div class="photo-info">
                                                <p class="photo-camera-model">Canon EOS 5D Mark III</p>
                                                <p class="photo-camera-lens">Canon EF 80-200mm f/2.8L</p>
                                                <ul class="photo-camera-settings">
                                                    <li class="setting">127mm</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ƒ/11</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">1/400s</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ISO 100</li>
                                                </ul>
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </div>
                                            <button class="btn btn-sm btn-photo-info">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                <span class="text">Инфо</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="slide-item">
                            <div class="slide-photo">
                                <div class="badges-list">
                                    <div class="badge-item">
                                        <div class="icon badge badge-yellow">
                                            <span class="award">2</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <div class="icon badge badge-cian">
                                            <span class="award">26</span>
                                        </div>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-purple">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                    <div class="badge-item">
                                        <span class="icon badge badge-grey">
                                            <span class="award">14</span>
                                        </span>
                                    </div>
                                </div>
                                <img src="../images/gallery/horses.jpg"/>
                            </div>
                            <div class="photo-controls">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <button class="btn btn-sm bordered-button like-button">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="text">Харесвам</span>
                                        </button>
                                        <button class="btn btn-sm bordered-button add-to-favorites-button">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <span class="text">Добави в любими</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="share-and-info">
                                            <ul class="share-buttons">
                                                <li class="social-network">
                                                    <span class="icon share-facebook"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-google"></span>
                                                </li>
                                                <li class="social-network">
                                                    <span class="icon share-pinterest"></span>
                                                </li>
                                            </ul>
                                            <div class="photo-info">
                                                <p class="photo-camera-model">Canon EOS 5D Mark III</p>
                                                <p class="photo-camera-lens">Canon EF 80-200mm f/2.8L</p>
                                                <ul class="photo-camera-settings">
                                                    <li class="setting">127mm</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ƒ/11</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">1/400s</li>
                                                    <li class="separator">|</li>
                                                    <li class="setting">ISO 100</li>
                                                </ul>
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </div>
                                            <button class="btn btn-sm btn-photo-info">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                <span class="text">Инфо</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="container-wrapper">
                    <div class="panel-heading text-center">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#all" data-toggle="tab">Всички</a></li>
                            <li><a href="#wedding-photography" data-toggle="tab">Сватбена фотография</a></li>
                            <li><a href="#family-photography" data-toggle="tab">Семейни сесии</a></li>
                            <li><a href="#interior" data-toggle="tab">Интериор</a></li>
                            <li><a href="#photo-forum" data-toggle="tab">Фото Форум</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="all">
                                <div class="category-photo-carousel flexslider">
                                    <ul class="slides">
                                        <li>
                                            <div class="slide-photo-carousel" style="background-image: url('../images/gallery/the_mayan_city.jpg')"></div>
                                        </li>
                                        <li>
                                            <div class="slide-photo-carousel" style="background-image: url('../images/gallery/kid.jpg')"></div>
                                        </li>
                                        <li>
                                            <div class="slide-photo-carousel" style="background-image: url('../images/gallery/slider1.jpg')"></div>
                                        </li>
                                        <li>
                                            <div class="slide-photo-carousel" style="background-image: url('../images/gallery/horses.jpg')"></div>
                                        </li>
                                    </ul>
                                </div>
                                <% include includes/add_comment.ejs %>
                            </div>
                            <div class="tab-pane fade" id="wedding-photography">2</div>
                            <div class="tab-pane fade" id="family-photography">3</div>
                            <div class="tab-pane fade" id="interior">4</div>
                            <div class="tab-pane fade" id="photo-forum">5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
