<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photographers</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="photographer-msg-all-page messages">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="panel with-nav-tabs panel-default">
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#all-messages" data-toggle="tab">Всички съобщения</a></li>
                                <li><a href="#from-couples" data-toggle="tab">От двойки</a></li>
                                <li><a href="#from-photographers" data-toggle="tab">От фотографи</a></li>
                                <li><a href="#deleted" data-toggle="tab">Изтрити</a></li>
                                <li><a href="#blocked" data-toggle="tab">Блокирани</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="all-messages">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="no-messages text-muted text-center hidden">
                                                <p>Все още нямате комуникация с други потребители.</p>
                                                <p>За нова дискусия използвайте бутона "Свържи се с фотографа" през профила на всеки фотограф.</p>
                                            </div>
                                            <div class="active">
                                                <div class="msg-controls text-right">
                                                    <button class="btn btn-sm bordered-button">Изтрий всички съобщения</button>
                                                </div>
                                                <ul class="message-list">
                                                    <li class="message-item unread">
                                                        <button class="btn delete-message bordered-button">
                                                            <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                            <span class="text hidden-xs hidden-sm">изтрий</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">
                                                                <a href="photographer-msg-single" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.
                                                                    Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.</p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="message-item unread">
                                                        <button class="btn delete-message bordered-button">
                                                            <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                            <span class="text hidden-xs hidden-sm">изтрий</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">
                                                                <a href="photographer-msg-single" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.
                                                                    Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.</p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="message-item unread">
                                                        <button class="btn delete-message bordered-button">
                                                            <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                            <span class="text hidden-xs hidden-sm">изтрий</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">
                                                                <a href="photographer-msg-single" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.
                                                                    Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.</p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="message-item unread">
                                                        <button class="btn delete-message bordered-button">
                                                            <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                            <span class="text hidden-xs hidden-sm">изтрий</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">
                                                                <a href="photographer-msg-single" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.
                                                                    Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.</p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="message-item unread">
                                                        <button class="btn delete-message bordered-button">
                                                            <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                            <span class="text hidden-xs hidden-sm">изтрий</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">
                                                                <a href="photographer-msg-single" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.
                                                                    Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.</p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="message-item unread">
                                                        <button class="btn delete-message bordered-button">
                                                            <i class="fa fa-trash hidden-md hidden-lg" aria-hidden="true"></i>
                                                            <span class="text hidden-xs hidden-sm">изтрий</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo" style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">
                                                                <a href="photographer-msg-single" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.
                                                                    Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти.</p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="from-couples">
                                    <div class="row">
                                        <div class="col-md-12">
                                            couples
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="from-photographers">
                                    <div class="row">
                                        <div class="col-md-12">
                                            photographers
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="deleted">
                                    <div class="row">
                                        <div class="col-md-12">
                                            deleted
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="blocked">
                                    <div class="row">
                                        <div class="col-md-12">
                                            blocked
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 hidden-xs hidden-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
