<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photographers</title>
    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="photographers-page">
<% include includes/loginModalDesktop.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="panel with-nav-tabs panel-default">
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab1default" data-toggle="tab">Най-висок рейтинг</a>
                                </li>
                                <li>
                                    <a href="#tab2default" data-toggle="tab">Любими</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <div class="filter-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5ths">
                                        <div class="filter-option">
                                            <select data-live-search="true" multiple title="Държава">
                                                <option data-tokens="България">България</option>
                                                <option data-tokens="Испания">Испания</option>
                                                <option data-tokens="Италия">Италия</option>
                                                <option data-tokens="Холандия">Холандия</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5ths">
                                        <div class="filter-option">
                                            <select data-live-search="true" multiple title="Град">
                                                <option data-tokens="София">София</option>
                                                <option data-tokens="Пловидв">Пловидв</option>
                                                <option data-tokens="Варна">Варна</option>
                                                <option data-tokens="Бургас">Бургас</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5ths">
                                        <div class="filter-option">
                                            <select data-live-search="true" multiple title="Тема">
                                                <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                                                <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                <option data-tokens="Интериор">Интериор</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5ths">
                                        <div class="price-range filter-option">
                                            <input id="photographers-price-ranger"
                                                   type="text"
                                                   class="span2"
                                                   value=""
                                                   data-slider-min="100"
                                                   data-slider-max="1000"
                                                   data-slider-step="10"
                                                   data-slider-value="[210,840]"/>
                                        </div>
                                    </div>
                                    <div class="col-md-5ths">
                                        <div class="search filter-option">
                                            <div class="form-group">
                                                <input type="text" class="form-control" maxlength="64" placeholder="Търси по име"/>
                                            </div>
                                            <button type="submit" class="btn btn-custom btn-sm">търси</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-tags-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="most-popular-cities clearfix">
                                            <h4 class="head">Най-популярни градове:</h4>
                                            <ul>
                                                <li>
                                                    <a href="">София</a>
                                                </li>
                                                <li>
                                                    <a href="">Пловдив</a>
                                                </li>
                                                <li>
                                                    <a href="">Варна</a>
                                                </li>
                                                <li>
                                                    <a href="">Бургас</a>
                                                </li>
                                                <li>
                                                    <a href="">Русе</a>
                                                </li>
                                                <li>
                                                    <a href="">Стара Загора</a>
                                                </li>
                                                <li>
                                                    <a href="">Плевен</a>
                                                </li>
                                                <li>
                                                    <a href="">Сливен</a>
                                                </li>
                                                <li>
                                                    <a href="">Добрич</a>
                                                </li>
                                                <li>
                                                    <a href="">Шумен</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="selected-themes clearfix">
                                            <h4 class="head">Избрани теми:</h4>
                                            <ul>
                                                <li>
                                                    <a href="">Сватбена фотография</a>
                                                </li>
                                                <li>
                                                    <a href="">Семейни сесии</a>
                                                </li>
                                                <li>
                                                    <a href="">Детски сесии</a>
                                                </li>
                                                <li>
                                                    <a href="">Портрети</a>
                                                </li>
                                                <li>
                                                    <a href="">Абитюрентски балове</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="pull-right">
                                            <div class="sorting-by">
                                                <span class="head">Сортирай по:</span>
                                                <a href="">Най-разглеждани</a>
                                                <!--<select class="pull-left">-->
                                                <!--<option value="view" selected>Най-разглеждани</option>-->
                                                <!--<option value="new">Най-нови</option>-->
                                                <!--</select>-->
                                                <div class="price pull-right">
                                                    <span class="text">Цена</span>
                                                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photographers-wrapper">
                            <div class="photographer-profile-review">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="main-details">
                                                <div class="photo-wrapper photographer-profile-photo">
                                                    <a href="#" class="photo" style="background-image: url('https://agc.creativelive.com/agc/pages/channel-hero/Photo_Hero_1600x900.jpg')">
                                                        <span class="text">Валентин Русев</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="photographer-details">
                                                <div href="" class="photographer-info">
                                                    <a class="profile-name">
                                                        <span class="name">Валентин Русев</span>
                                                        <span class="pro-account-icon">Про</span>
                                                        <span class="nickname">chukov</span>
                                                    </a>
                                                    <div class="price">
                                                        <span class="value">200лв</span>
                                                        <span class="separator">/</span>
                                                        <span class="payment-option">час</span>
                                                    </div>
                                                    <a href="" class="location">София, България</a>
                                                </div>
                                                <ul class="shooting-category">
                                                    <li>
                                                        <a href="">Сватбена фотография</a>
                                                    </li>
                                                    <li class="separator">
                                                        <span>,</span>
                                                    </li>
                                                    <li>
                                                        <a href="">Семейни сесии</a>
                                                    </li>
                                                    <li class="separator">
                                                        <span>,</span>
                                                    </li>
                                                    <li>
                                                        <a href="">Интериор</a>
                                                    </li>
                                                </ul>
                                                <a class="add-to-favorites added">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span class="text">премахни от любими</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="photographer-photos">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="photographer-profile-review">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="main-details">
                                                <div class="photo-wrapper photographer-profile-photo">
                                                    <a href="#" class="photo" style="background-image: url('http://modernlensmagazine.com/wp-content/uploads/2016/08/promistakes.jpg')">
                                                        <span class="text">Валентин Русев</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="photographer-details">
                                                <div class="photographer-info">
                                                    <a href="" class="profile-name">
                                                        <span class="name">Валентин Русев</span>
                                                        <span class="pro-account-icon">Про</span>
                                                        <span class="nickname">chukov</span>
                                                    </a>
                                                    <div class="price">
                                                        <span class="value">200лв</span>
                                                        <span class="separator">/</span>
                                                        <span class="payment-option">час</span>
                                                    </div>
                                                    <a href="" class="location">София, България</a>
                                                </div>
                                                <ul class="shooting-category">
                                                    <li>
                                                        <a href="">Сватбена фотография</a>
                                                    </li>
                                                    <li class="separator">
                                                        <span>,</span>
                                                    </li>
                                                    <li>
                                                        <a href="">Семейни сесии</a>
                                                    </li>
                                                    <li class="separator">
                                                        <span>,</span>
                                                    </li>
                                                    <li>
                                                        <a href="">Интериор</a>
                                                    </li>
                                                </ul>
                                                <a class="add-to-favorites">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span class="text">добави в любими</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="photographer-photos">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        <div class="col-md-pull-4">
                                            <div class="pagination-tools">
                                                <div class="pagination-navigation">
                                                    <div class="previous-page">
                                                    <span rel="prev" class="page-prev">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        <span class="text">Предишна</span>
                                                    </span>
                                                    </div>
                                                    <div class="next-page">
                                                        <a href="#" rel="next" class="page-next">
                                                            <span class="text">Следваща</span>
                                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="pagination">
                                                    <li class="active">
                                                        <span>1</span>
                                                    </li>
                                                    <li>
                                                        <a href="#">2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">3</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">4</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">5</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">6</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="left-more">...</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
