<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile Edit</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="profile-page edit-mode">
<header class="top-header">
    <div class="container">
        <div class="row">
            <% include includes/desktopTopHeaderLogged.ejs %>
        </div>
    </div>
    <% include includes/mobileMenu.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="profile-details">
            <div class="col-md-4">
                <div class="main-details">
                    <div class="photo-wrapper">
                        <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                            <span class="text">Валентин Русев</span>
                        </a>
                        <a href="#" class="pad">
                            <span class="upload-new-photo">качи нова</span>
                        </a>
                    </div>
                    <div class="user-details">
                        <div class="profile-name">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Име">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Фамилия">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Псевдоник">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="details">
                    <div class="form-group">
                        <select data-live-search="true" title="Град">
                            <option data-tokens="София">София</option>
                            <option data-tokens="Пловдив">Пловдив</option>
                            <option data-tokens="Варна">Варна</option>
                            <option data-tokens="Бургас">Бургас</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="+359 888 123 456">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="http://your-website-goes-here.com/">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="password-settings">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Текуща парола">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Нова парола">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Повтори новата парола">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-taxes">
                <h2 class="head">Тарифи</h2>
                <div class="tax">
                    <div class="shooting-category">
                        <select data-live-search="true" title="Тема">
                            <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                            <option data-tokens="Семейни сесии">Семейни сесии</option>
                            <option data-tokens="Интериор">Интериор</option>
                        </select>
                    </div>
                    <div class="rating-price">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <span class="tax-label">лв/час</span>
                    </div>
                    <div class="bussiness-time">
                        <select title="Цена">
                            <option data-tokens="3">3</option>
                            <option data-tokens="10">8</option>
                            <option data-tokens="24">24</option>
                        </select>
                        <span class="tax-label">часа минимум</span>
                    </div>
                    <a href="#" class="text-success delete pull-right">изтрий</a>
                </div>
                <div class="tax">
                    <div class="shooting-category">
                        <select data-live-search="true" title="Тема">
                            <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                            <option data-tokens="Семейни сесии">Семейни сесии</option>
                            <option data-tokens="Интериор">Интериор</option>
                        </select>
                    </div>
                    <div class="rating-price">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <span class="tax-label">лв/час</span>
                    </div>
                    <div class="bussiness-time">
                        <select title="Цена">
                            <option data-tokens="3">3</option>
                            <option data-tokens="10">8</option>
                            <option data-tokens="24">24</option>
                        </select>
                        <span class="tax-label">часа минимум</span>
                    </div>
                    <a href="#" class="text-success delete pull-right">изтрий</a>
                </div>
                <div class="tax">
                    <div class="shooting-category">
                        <select data-live-search="true" title="Тема">
                            <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                            <option data-tokens="Семейни сесии">Семейни сесии</option>
                            <option data-tokens="Интериор">Интериор</option>
                        </select>
                    </div>
                    <div class="rating-price">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <span class="tax-label">лв/час</span>
                    </div>
                    <div class="bussiness-time">
                        <select title="Цена">
                            <option data-tokens="3">3</option>
                            <option data-tokens="10">8</option>
                            <option data-tokens="24">24</option>
                        </select>
                        <span class="tax-label">часа минимум</span>
                    </div>
                    <a href="#" class="text-success delete pull-right">изтрий</a>
                </div>
                <div class="tax">
                    <div class="shooting-category">
                        <select data-live-search="true" title="Тема">
                            <option data-tokens="Сватбена фотография">Сватбена фотография</option>
                            <option data-tokens="Семейни сесии">Семейни сесии</option>
                            <option data-tokens="Интериор">Интериор</option>
                        </select>
                    </div>
                    <div class="rating-price">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <span class="tax-label">лв/час</span>
                    </div>
                    <div class="bussiness-time">
                        <select title="Цена">
                            <option data-tokens="3">3</option>
                            <option data-tokens="10">8</option>
                            <option data-tokens="24">24</option>
                        </select>
                        <span class="tax-label">часа минимум</span>
                    </div>
                    <a href="#" class="text-success delete pull-right">изтрий</a>
                </div>
                <button class="btn btn-sm bordered-button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="text">Добави тарифа</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-bio">
                <h2 class="head">За фотографа</h2>
                <div class="form-group">
                    <textarea name="" class="form-control">Hi I am a Wedding Photographer, I think this job is the best in the world because I get the privilege to capture one of the most important moment in someone's life. I love my job, the people, lights, and the magical moment people shares with me; I admire the cities where I have worked in.</textarea>
                </div>
                <div class="switch">
                    <div class="switch-option">
                        <input class="custom-switch-checkbox" type="checkbox">
                    </div>
                    <span class="text-right">Публикувай резюмето в профила ми</span>
                </div>
                <div class="switch">
                    <div class="switch-option">
                        <input class="custom-switch-checkbox" type="checkbox">
                    </div>
                    <span class="text-right"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-custom btn-success">Запази промените</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-gallery">
                <header class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="separator-module">
                                <hr class="separator-line">
                                <h2 class="head separator-text"><span>Галерия</span></h2>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="panel with-nav-tabs panel-default">
                    <div class="container-wrapper">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li><a href="#wedding-photography" data-toggle="tab">Сватбена фотография</a></li>
                                <li><a href="#family-photos" data-toggle="tab">Семейни сесии</a></li>
                                <li class="active"><a href="#photo-stories" data-toggle="tab">Фотоистории</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="wedding-photography">
                                    <div class="text-center">
                                        <button class="btn bordered-button">
                                            <span class="text">Качи снимки</span>
                                        </button>
                                        <div class="slide-horizontal-notice">
                                            <span class="icon slide-horizontal-hand"></span>
                                            <span class="text">Плъзнете снимката, за да пренаредите снимките</span>
                                        </div>
                                    </div>
                                    <div class="profile-gallery-photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper selected-photo delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper selected-photo delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper selected-photo delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper selected-photo delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper selected-photo delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper uploading">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <div class="uploading-photo">
                                                                <div class="loading">
                                                                    <i class="fa fa-spinner fa-spin spinner" style="font-size:24px"></i>
                                                                </div>
                                                                <div class="text">снимката се качва...</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper uploading">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <div class="uploading-photo">
                                                                <div class="loading">
                                                                    <i class="fa fa-spinner fa-spin spinner" style="font-size:24px"></i>
                                                                </div>
                                                                <div class="text">снимката се качва...</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper uploading">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <div class="uploading-photo">
                                                                <div class="loading">
                                                                    <i class="fa fa-spinner fa-spin spinner" style="font-size:24px"></i>
                                                                </div>
                                                                <div class="text">снимката се качва...</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="family-photos">
                                    2
                                </div>
                                <div class="tab-pane fade in active" id="photo-stories">
                                    <div class="profile-gallery-photos photo-stories-photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                            <button class="btn btn-edit bordered-button">
                                                                <span class="text">редактирай</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                            <button class="btn btn-edit bordered-button">
                                                                <span class="text">редактирай</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                            <button class="btn btn-edit bordered-button">
                                                                <span class="text">редактирай</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                            <button class="btn btn-edit bordered-button">
                                                                <span class="text">редактирай</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="photo-wrapper delete-photo">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                                        </a>
                                                        <div class="pad">
                                                            <button class="btn btn-delete bordered-button">
                                                                <span class="text">изтрий</span>
                                                            </button>
                                                            <button class="btn btn-edit bordered-button">
                                                                <span class="text">редактирай</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
