<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="profile-page">
<div class="modal fade" id="photoPreview" role="dialog">
    <div class="modal-dialog modal-lg photo-preview">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="icon close close-grey" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="../images/photos/modal_photo.jpg" class="modal-photo" alt="">
                        </div>
                        <div class="col-md-4">
                            <article>
                                <h3 class="head">Конкурс “Веселата сватба”</h3>
                                <p>Победител в 10-тия конкурс на Фото Форум на тема “Веселата сватба”.</p>
                                <p>Конкурса се проведе през август месец 2017 година. Участваха фотографи от 10 страни с
                                    общо над 2000 снимки.</p>
                                <p>Наградата беше връчена от Александър Петров.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="top-header">
    <div class="container">
        <div class="row">
            <% include includes/desktopTopHeaderLogged.ejs %>
        </div>
    </div>
    <% include includes/mobileMenu.ejs %>
</header>
<div class="container">

    <div class="buttons">
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-sm btn-success">Запази</button>
                <button class="btn btn-sm btn-info">Инфо</button>
                <button class="btn btn-sm btn-warning">Внимание</button>
                <button class="btn btn-sm btn-danger">Изтрий</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="profile-details">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="main-details">
                    <div class="photo-wrapper">
                        <a href="#" class="photo" style="background-image: url('../images/photos/image3.jpg')">
                            <span class="text">Валентин Русев</span>
                        </a>
                        <div class="member-since">
                            <span>Член от</span><br/>
                            <span><b>2 год. и 3 мес.</b></span>
                        </div>
                    </div>
                    <div class="user-details">
                        <a class="profile-name">
                            <span class="name">Валентин Русев</span>
                            <span class="pro-account-icon">Про</span>
                            <span class="nickname">chukov</span>
                        </a>
                        <a class="add-to-favorites added">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span class="text">премахни от любими</span>
                        </a>
                        <a href="photographer-msg-single" class="btn btn-sm btn-success contact-photographer">
                            <span class="text">Свържи се с фотографа</span>
                        </a>
                        <ul class="share-buttons">
                            <li class="social-network">
                                <span class="icon share-facebook"></span>
                            </li>
                            <li class="social-network">
                                <span class="icon share-google"></span>
                            </li>
                            <li class="social-network">
                                <span class="icon share-pinterest"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <ul class="awards-won">
                    <li class="rating">
                        <span class="icon cup"></span>
                        <div class="info">
                            <span class="label">рейтинг</span>
                            <span class="text">2-ро място</span>
                        </div>
                    </li>
                    <li class="location">
                        <span class="icon location"></span>
                        <div class="info">
                            <span class="label">град</span>
                            <span class="text">Пловдив</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="details">
                    <a href="tel:+359 88 124354" class="phone">
                        <span class="icon phone"></span>
                        <span class="text">+359 88 124354</span>
                    </a>
                    <div class="web-address">
                        <span class="icon web"></span>
                        <a href="http://www.valentin-rusev.com" class="text" target="_blank">www.valentin-rusev.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="profile-taxes">
                <h2 class="head">Тарифи</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Сватбена фотография</td>
                        <td>200лв/час</td>
                        <td>10 часа минимум</td>
                    </tr>
                    <tr>
                        <td>Семейни сесии</td>
                        <td>160лв/час</td>
                        <td>2 часа минимум</td>
                    </tr>
                    <tr>
                        <td>Интериор</td>
                        <td>150лв/час</td>
                        <td>4 часа минимум</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="won-prices-at-photo-forum">
                <h2 class="head">Награди от участия във Фото Форум</h2>
                <div class="row">
                    <div class="badges-list">
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <div class="badge-item">
                                <div class="icon badge badge-yellow">
                                    <span class="award-counter">2</span>
                                </div>
                                <span class="text photo-contests">Награди от фотоконкурси</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <div class="badge-item">
                                <div class="icon badge badge-cian">
                                    <span class="award-counter">26</span>
                                </div>
                                <span class="text">Снимки в "Избор на редактора"</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <div class="badge-item">
                                <span class="icon badge badge-purple">
                                    <span class="award-counter">14</span>
                                </span>
                                <span class="text">Снимки в "Най-доброто за седмицата"</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <div class="badge-item">
                                <span class="icon badge badge-grey">
                                    <span class="award-counter">14</span>
                                </span>
                                <span class="text">Снимки в "Най-доброто за седмицата"</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-bio">
                <h2 class="head">За фотографа</h2>
                <p>Hi I am a Wedding Photographer, I think this job is the best in the world because I get the privilege
                    to capture one of the most important
                    moment in someone's life. I love my job, the people, lights, and the magical moment people shares
                    with me; I admire the cities where I have
                    worked in.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-interview">
                <h2 class="head">Интервю с автора</h2>
                <p><b>От кога се занимаваш с фотография?</b></p>
                <p>Занимавам се професионално с фотография от 2010г. В центъра на вниманието ми винаги са хората и
                    техните емоции. От самото начало се специализирах в снимане на семейни фотосесии и особено на деца.
                    С удоволствие снимам и прекрасни събития от живота на всеки човек, каквито са сватбата, кръщенето,
                    рождения ден и семейните празници....</p>
                <button class="btn btn-md bordered-button">
                    <span class="text">Към  цялото интервю</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-gallery">
                <header class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="separator-module">
                                <hr class="separator-line">
                                <h2 class="head separator-text">
                                    <span>Галерия на Валентин Русев</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="panel with-nav-tabs panel-default">
                    <div class="container-wrapper">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li><a href="#all" data-toggle="tab">Всички</a></li>
                                <li class="active"><a href="#photostories" data-toggle="tab">Фото Истории</a></li>
                                <li><a href="#wedding-photography" data-toggle="tab">Сватбена фотография</a></li>
                                <li><a href="#family-photography" data-toggle="tab">Семейни сесии</a></li>
                                <li><a href="#interior" data-toggle="tab">Интериор</a></li>
                                <li><a href="#photo-forum" data-toggle="tab">Фото Форум</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="all">
                                    <div class="profile-gallery-photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/thumbs/3.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="won-badges">
                                                            <li class="badge">
                                                                <i class="icon badge-yellow-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-cian-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-purple-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-grey-small"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/thumbs/3.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="won-badges">
                                                            <li class="badge">
                                                                <i class="icon badge-yellow-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-grey-small"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/thumbs/3.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="won-badges">
                                                            <li class="badge">
                                                                <i class="icon badge-yellow-small"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/thumbs/3.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="won-badges">
                                                            <li class="badge">
                                                                <i class="icon badge-yellow-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-purple-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-grey-small"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/thumbs/3.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="won-badges">
                                                            <li class="badge">
                                                                <i class="icon badge-cian-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-purple-small"></i>
                                                            </li>
                                                            <li class="badge">
                                                                <i class="icon badge-grey-small"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination-wrapper">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-4">
                                                <div class="col-md-pull-4">
                                                    <div class="pagination-tools">
                                                        <div class="pagination-navigation">
                                                            <div class="previous-page">
                                                    <span rel="prev" class="page-prev">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        <span class="text">Предишна</span>
                                                    </span>
                                                            </div>
                                                            <div class="next-page">
                                                                <a href="#" rel="next" class="page-next">
                                                                    <span class="text">Следваща</span>
                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <ul class="pagination">
                                                            <li class="active">
                                                                <span>1</span>
                                                            </li>
                                                            <li>
                                                                <a href="#">2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="left-more">...</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade in active" id="photostories">

                                    <div class="profile-gallery-photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper photo-album">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="photo-album-name">
                                                            <h3><a href="#">Портрети</a></h3>
                                                            <span class="photo-author-nickname">jovanni</span>
                                                            <span class="photos-counter">2 снимки</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper photo-album">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="photo-album-name">
                                                            <h3><a href="#">Портрети</a></h3>
                                                            <span class="photo-author-nickname">jovanni</span>
                                                            <span class="photos-counter">2 снимки</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper photo-album">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="photo-album-name">
                                                            <h3><a href="#">Портрети</a></h3>
                                                            <span class="photo-author-nickname">jovanni</span>
                                                            <span class="photos-counter">2 снимки</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper photo-album">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="photo-album-name">
                                                            <h3><a href="#">Портрети</a></h3>
                                                            <span class="photo-author-nickname">jovanni</span>
                                                            <span class="photos-counter">2 снимки</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pagination-wrapper">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-4">
                                                <div class="col-md-pull-4">
                                                    <div class="pagination-tools">
                                                        <div class="pagination-navigation">
                                                            <div class="previous-page">
                                                    <span rel="prev" class="page-prev">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        <span class="text">Предишна</span>
                                                    </span>
                                                            </div>
                                                            <div class="next-page">
                                                                <a href="#" rel="next" class="page-next">
                                                                    <span class="text">Следваща</span>
                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <ul class="pagination">
                                                            <li class="active">
                                                                <span>1</span>
                                                            </li>
                                                            <li>
                                                                <a href="#">2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="left-more">...</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="wedding-photography">2</div>
                                <div class="tab-pane fade" id="family-photography">3</div>
                                <div class="tab-pane fade" id="interior">4</div>
                                <div class="tab-pane fade" id="photo-forum">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
