<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registration</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="registration-page">
<% include includes/loginModalDesktop.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include includes/desktopTopHeaderNotLogged.ejs %>
            </div>
        </div>
        <% include includes/mobileMenu.ejs %>
    </header>
    <div class="content-wrapper">
        <header class="content-header">
            <h1>Регистрация</h1>
            <h2>Като какъв искате да се регистрирате?</h2>
        </header>
        <div class="panel with-nav-tabs panel-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#proffessional-photographer" data-toggle="tab">Аз съм фотограф</a></li>
                                <li><a href="#looking-for-photographer" data-toggle="tab">Търся фотографи</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <div class="tab-content col-md-pull-3">
                                <div class="tab-pane fade in active" id="proffessional-photographer">
                                    <div class="content">
                                        <div class="registration-form-wrapper">
                                            <button class="btn bordered-button btn-facebook">
                                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                <span class="text">Влизане с facebook</span>
                                            </button>
                                            <div class="separator-module">
                                                <hr class="separator-line">
                                                <span class="separator-text"><span>или</span></span>
                                            </div>
                                            <div class="form-wrap">
                                                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                                    <div class="profile-name">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="first-name" class="form-control" placeholder="Име *">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="last-name" class="form-control" placeholder="Фамилия *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="nickname">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <input type="email" name="nickname" class="form-control" placeholder="Потребителско име *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="country">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group has-error">
                                                                    <select class="selectpicker" data-live-search="true" title="Избери държава *">
                                                                        <option data-tokens="България">България</option>
                                                                        <option data-tokens="Испания">Испания</option>
                                                                        <option data-tokens="Италия">Италия</option>
                                                                        <option data-tokens="Холандия">Холандия</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="city">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <input type="email" name="city" class="form-control" placeholder="Град *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-account">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="email" name="email" class="form-control" placeholder="Електронна поща *">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="password" name="password" class="form-control" placeholder="Парола *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="checkbox custom-checkbox checked">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Съгласен съм с правилата за участие в сайта! *</span>
                                                    </div>
                                                    <div class="checkbox custom-checkbox checked">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</span>
                                                    </div>
                                                    <button class="btn btn-success btn-custom btn-md">Регистрирай се</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="looking-for-photographer">
                                    <div class="content">
                                        <div class="registration-form-wrapper">
                                            <button class="btn bordered-button btn-facebook">
                                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                <span class="text">Влизане с facebook</span>
                                            </button>
                                            <div class="separator-module">
                                                <hr class="separator-line">
                                                <span class="separator-text"><span>или</span></span>
                                            </div>
                                            <div class="form-wrap">
                                                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                                    <div class="profile-name">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group has-error">
                                                                    <input type="text" name="first-name" class="form-control" placeholder="Име *">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="last-name" class="form-control" placeholder="Фамилия *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="country">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <select class="selectpicker" data-live-search="true" title="Избери държава *">
                                                                        <option data-tokens="България">България</option>
                                                                        <option data-tokens="Испания">Испания</option>
                                                                        <option data-tokens="Италия">Италия</option>
                                                                        <option data-tokens="Холандия">Холандия</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="city">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <input type="email" name="city" class="form-control" placeholder="Град *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-account">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group has-error">
                                                                    <input type="email" name="email" class="form-control" placeholder="Електронна поща *">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group has-error">
                                                                    <input type="password" name="password" class="form-control" placeholder="Парола *">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="checkbox custom-checkbox checked">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Съгласен съм с правилата за участие в сайта! *</span>
                                                    </div>
                                                    <div class="checkbox custom-checkbox checked">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</span>
                                                    </div>
                                                    <button class="btn btn-success btn-custom btn-md">Регистрирай се</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
