<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Terms of use</title>

    <link rel="icon" href="favicon.ico">

    <% include env/production.ejs %>
</head>
<body class="terms-of-use-page">
<% include includes/loginModalDesktop.ejs %>
<header class="top-header">
    <div class="container">
        <div class="row">
            <% include includes/desktopTopHeaderNotLogged.ejs %>
        </div>
    </div>
    <% include includes/mobileMenu.ejs %>
</header>
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="col-md-pull-3">
                    <article class="content-wrapper">
                        <header class="content-header">
                            <h1>Общи условия</h1>
                        </header>
                        <div class="content">
                            <ol class="our-terms">
                                <li class="term-item">
                                    <div class="term-content">
                                        <p>Фото Форум е сайт за авторска фотография и форум за коментари. На него можете да публикувате единствено снимки, на
                                            които сте автор.</p>
                                        <p>Не е препоръчително да показвате снимки с лошо качество и компресия, снимки лишени от идея и съдържание, банални
                                            сюжети и други подобни.</p>
                                        <p>Предполага се, че авторите, качващи в сайта могат да се ориентират кое е стойностна фотография и кое не е. Ако не
                                            могат сами - съветваме ги да разгледат месечните рейтинги. Това ще им помогне донякъде.</p>
                                        <p>В албум Избрано и категориите се виждат само снимки, които имат минимум 25 точки от рейтинг А. Снимките ще се
                                            появяват в албума според времето на качването им - т.е. хронологично, а не сортирани по рейтинг (ако искате да ги
                                            гледате по рейтинг, използвайте "Рейтинг А")</p>
                                        <p>При отварянето на албум, виждате линк "Виж : нови предложения за албум" . В тази галерия можете да видите всички
                                            снимки, които все още не са минали в "албум" и можете да гласувате за тези, които смятате, че заслужават да се
                                            появят в албум. За да се избегнат манипулации с правене на фалшиви профили и избутване на собствени снимки, в тази
                                            галерия могат да гласуват само автори в сайта, които имат минимум 5 снимки с по 30 точки от рейтинг А - т.е. същото
                                            правило, което е валидно и в конкурсите на ФФ</p>
                                        <p><strong>Важно:</strong> За гласуване могат да бъдат пускани само снимки, които не съдържат в себе си водни знаци с
                                            името на автор или друг рекламен текст. В противен случай администраторите на сайта имат право да извадят снимката
                                            от рейтинга на сайта.</p>
                                        <p>В "Галерия" на първа страница няма да бъдат избирани снимки, които имат воден знак!</p>
                                    </div>
                                </li>
                                <li class="term-item">
                                    <div class="term-content">
                                        <p>Всеки потребител има право само на една регистрация в сайта. Потребители с повече от една регистрация, се смята че
                                            нарушават правилата и ще бъдат деактивирани. Регистрираният участник има право да публикува свои снимки в галериите
                                            на Фото Форум, да участва в коментарите и оценяването на останалите снимки, да участва в конкурсите, обявени на
                                            сайта</p>
                                    </div>
                                </li>
                                <li class="term-item">
                                    <div class="term-content">
                                        <p>Всеки регистриран потребител има право да качва в профила си по 20 снимки на ден.</p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
