.add-to-favorites {
    color: $color_15;
    @include inline-block;
    @include clearfix;
    i, span {
        float: left;
        display: block;
    }
    i.fa {
        margin-right: 5px;
        font-size: 16px;
        line-height: unset;
        margin-top: -1px;
        &.fa-star {
            display: none;
        }
        &.fa-star-o {
            @include inline-block();
        }
    }
    span {
        margin-top: 1px;
        color: $color_15;
        font-size: 13px;
    }
    &.added, &:hover {
        color: $color_16;
        span {
            color: $color_16;
        }
    }
    &:hover {
        cursor: pointer;
        i.fa {
            &.fa-star {
                @include inline-block();
            }
            &.fa-star-o {
                display: none;
            }
        }
    }
    &.added {
        i.fa {
            &.fa-star {
                @include inline-block();
            }
            &.fa-star-o {
                display: none;
            }
        }
        &:hover {
            cursor: pointer;
            i.fa {
                &.fa-star {
                    display: none;
                }
                &.fa-star-o {
                    @include inline-block();
                }
            }
            span {
                color: $color_15;
            }
        }
    }
}