.comments-wrapper {
    text-align: left;
    .head {
        font-size: 18px;
        color: $color_4;
        margin-top: 18px;
        margin-bottom: 21px;
    }
    .write-comment {
        border-top: 1px solid $color_13;
        padding-top: 21px;
        margin-bottom: 25px;
        @include clearfix;
        .my-photo {
            display: block;
            width: 50px;
            margin-right: 21px;
            float: left;
            @include border-radius(50%);
            @media (max-width: 480px) {
                margin-bottom: 15px;
            }
        }
        .comment-block {
            float: left;
            width: 80%;
            .form-group {
                textarea {
                    width: 100%;
                }
            }
            button.btn {
                margin: 0;
                @media (max-width: 480px) {
                    width: 100%;
                }
            }
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
    .comments {
        .comment {
            padding: 25px 15px;
            border-top: 1px solid $color_13;
            @include clearfix;
            @media (max-width: 767px) {
                padding-right: 0;
                padding-left: 0;
            }
            .comment-user-photo {
                display: block;
                width: 50px;
                margin-right: 21px;
                float: left;
                @include border-radius(50%);
                @media (max-width: 767px) {
                    width: 18%;
                }
            }
            .comment-content {
                float: left;
                @media (max-width: 767px) {
                    float: right;
                    width: 75%;
                }
                .comment-author, .separator, .comment-date {
                    margin-bottom: 15px;
                    color: $color_9;
                    @include inline-block();
                }
                p {
                    margin-bottom: 3px;
                }
            }
        }
    }
}
