.badges-list {
    @include clearfix;
    .badge-item {
        @include clearfix;
        .badge {
            float: left;
            background-color: transparent;
            padding: 0;
            .award, .award-counter {
                display: block;
                margin-top: 8px;
                font-size: 18px;
                @include roboto-font($light-font, $light-font-weight);
                font-weight: normal;
            }
        }
        .text {
            float: right;
            width: 72px;
            display: block;
            font-size: 12px;
            @include roboto-font($condensed-font, $condensed-font-weight);
            word-wrap: break-word;
            color: $color_18;
        }
    }
}
