.bordered-button {
    background: none;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: $color_6;
    border: 1px solid $color_6;
    @include transition(.3s);
    @media (max-width: 979px) {
        background-color: $color_2;
    }
    &:hover {
        background-color: $color_6;
        color: $color_2;
    }
    &:focus {
        color: $color_6;
        &:hover {
            color: $color_2;
        }
    }
}

.btn-sm {
    line-height: 1.4em;
}

.btn-facebook {
    margin: 0 0 25px 0;
    color: $color_2;
    font-size: 18px;
    border: 1px solid $color_25;
    background-color: $color_25;
    @include roboto-font($light-font, $light-font-weight);
    i.fa {
        margin-right: 5px;
    }
    &:hover {
        background-color: $color_25;
        color: $color_2;
    }
}
