.contest-path {
    margin-bottom: 30px;
    @include clearfix();
    li {
        float: left;
        display: block;
        margin-right: 15px;
        font-size: 18px;
        @media (max-width: 767px) {
            text-align: left;
            float: none;
            margin-bottom: 15px;
        }
        &:last-child {
            margin-right: 0;
            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
        a {
            display: block;
        }
        &.contest-category {
            @include clearfix();
            a, span {
                float: left;
            }
            .separator {
                &:before {
                    font-family: FontAwesome;
                    content: '\f105';
                    color: $color_3;
                    font-size: 15px;
                    line-height: 1em;
                    margin: 0 0 0 15px;
                    pointer-events: none;
                }
            }
        }
        &.contest-author {
            a {
                @include clearfix();
                span {
                    display: block;
                    float: left;
                    &.nickname,
                    &.pro-account-icon {
                        margin-top: -10px;
                        line-height: 1.2em;
                        margin-left: 10px;
                    }
                    &.nickname {
                        font-size: 16px;
                    }
                    &.pro-account-icon {
                        background-color: $color_16;
                        font-size: 12px;
                        padding: 2px 5px;
                        color: $color_2;
                        @include border-radius(3px);
                    }
                }
            }
        }
    }
}
