.checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    @include clearfix;
    &.checked {
        &:before {
            content: '\e013';
            color: $color_6;
            font-size: 14px;
            margin: 1px 0 0 3px;
            position: absolute;
            pointer-events: none;
            font-family: 'Glyphicons Halflings';

        }
    }
    .character-checkbox {
        width: 21px;
        height: 21px;
        cursor: default;
        border: 1px solid $color_3;
        background-color: $color_2;
        float: left;
        @include border-radius(3px);
        @include inline-block;
        @include clearfix;
    }
    .label {
        @include roboto-font($light-font, $light-font-weight);
        color: $color_4;
        font-size: 14px;
        float: left;
        margin-top: 1px;
        @include inline-block;
        @media (max-width: 480px) {
            font-size: 11px;
            margin-top: 3px;
        }
    }
}

.btn {
    &:focus {
        color: $color_2;
        outline: none;
    }
    &.btn-custom {
        color: $color_2;
        font-size: 18px;
        margin-bottom: 20px;
        background-color: $color_6;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        border: none;
        @include clearfix;
        &:hover,
        &:focus {
            color: $color_2;
            border: none;
        }
        &:hover {
            background-color: darken($color_6, 3%);
        }
        .text, .spinner {
            display: block;
            float: left;
        }
        .spinner {
            display: none;
        }
        &.loading {
            background-color: $color_9;
            color: lighten($color_9, 30%);
            .spinner {
                display: block;
                margin-left: 30px;
                @include animation(fa-spin 1.5s infinite linear);
            }
        }
    }
    &.btn-photo-all {
        margin-bottom: 0;
    }
}

textarea {
    border: 1px solid $color_3;
    padding: 10px 15px;
    @include border-radius(3px);
    &.form-control {
        height: 150px;
    }
}

.form-group {
    .form-control {
        border-width: 1px;
    }
    &.has-error {
        .form-control {
            @include input-placeholder {
                color: $color-red-error;
            }
        }
        .bootstrap-select {
            button.btn {
                border-width: 1px;
                color: $color-red-error;

            }
            &.btn-group {
                .dropdown-toggle {
                    .caret {
                        &:before {
                            color: $color-red-error;
                        }
                    }
                }
            }
        }
    }
}
