.icon {
    @include inline-block;
    &.phone {
        @include sprites('phone');
    }
    &.email {
        @include sprites('email');
    }
    &.close {
        @include sprites('close');
        &.close-grey {
            @include sprites('close_grey');
        }
    }
    &.facebook-register-button {
        @include sprites('facebook_reg_button');
    }
    &.arrow-right {
        @include sprites('arrow_right_green');
    }
    &.arrow-down {
        @include sprites('arrow_down');
    }
    &.slide-horizontal-hand {
        @include sprites('slide_horizontal_hand');
    }
    &.web {
        @include sprites('globe');
    }
    &.location {
        @include sprites('location');
    }
    &.cup {
        @include sprites('cup');
    }
    &.badge-yellow {
        @include sprites('badge_yellow');
    }
    &.badge-yellow-small {
        @include sprites('badge_yellow_small');
    }
    &.badge-cian {
        @include sprites('badge_cian');
    }
    &.badge-cian-small {
        @include sprites('badge_cian_small');
    }
    &.badge-purple {
        @include sprites('badge_purple');
    }
    &.badge-purple-small {
        @include sprites('badge_purple_small');
    }
    &.badge-grey {
        @include sprites('badge_grey');
    }
    &.badge-grey-small {
        @include sprites('badge_grey_small');
    }
    &.share-facebook {
        @include sprites('share_facebook');
    }
    &.share-google {
        @include sprites('share_google');
    }
    &.share-pinterest {
        @include sprites('share_pinterest');
    }
    &.mobile-menu-hamburger {
        @include sprites('hamburger_menu');
    }
    &.mobile-menu-close {
        @include sprites('close_mobile_menu');
    }
    &.mobile-menu-back {
        @include sprites('mobile_menu_back');
    }
    // Payment methods
    &.debit-credit-carts {
        @include payment_method('debit_credit_carts');
    }
    &.epay {
        @include payment_method('epay');
    }
    &.easypay {
        @include payment_method('easypay');
    }
    &.paypal {
        @include payment_method('paypal');
    }
    &.bank-transfer {
        @include payment_method('bank_transfer');
    }
    &.payment-methods {
        @include payment_method('payment_methods');
    }
}
