#loginPopup {
    .modal-dialog {
        .modal-content {
            .modal-body {
                text-align: center;
                @media (max-width: 480px) {
                    padding: 30px;
                }
                .open-account-link {
                    color: $color_5;
                    @include inline-block;
                    @include clearfix;
                    &:hover {
                        cursor: pointer;
                        text-decoration: none;
                    }
                    .arrow-right {
                        float: left;
                        margin-top: 5px;
                        margin-right: 15px;
                    }
                    .text {
                        float: left;
                        @include inline-block;
                    }
                }
            }
        }
    }
}