.pagination-wrapper {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    .pagination-tools {
        padding: 0 40px;
        .pagination-navigation {
            padding: 0 25px;
            margin-bottom: 10px;
            @include clearfix;
            a, span {
                font-size: 12px;
                @include transition(.3s);
                &:hover {
                    text-decoration: none;
                    @include transition(.3s);
                }
            }
            span.page-prev,
            span.page-next {
                color: $color_9;
                cursor: default;
            }
            .previous-page {
                float: left;
                .page-prev {
                    i.fa {
                        margin-right: 5px;
                    }
                }
            }
            .next-page {
                float: right;
                .page-next {
                    i.fa {
                        margin-left: 5px;
                    }
                }
            }
        }
        .pagination {
            margin-top: 0;
            margin-bottom: 0;
            @include inline-block;
            @include clearfix;
            li {
                float: left;
                font-size: 12px;
                margin-right: 10px;
                @include inline-block;
                &:last-child {
                    margin-right: 0;
                }
                a, span {
                    padding: 7px 10px;
                    line-height: 1.2em;
                    border: 1px solid $color_2;
                    @include border-radius(3px);
                    @include transition(.3s);
                    @media (max-width: 480px) {
                        padding: 8px;
                        font-size: 10px;
                    }
                    &:hover {
                        @include transition(.3s);
                        border: 1px solid $color_8;
                        background-color: $color_2;
                    }
                }
                span {
                    cursor: default;
                }
                &.active {
                    @include transition(.3s);
                    span {
                        background-color: $color_2;
                        border: 1px solid $color_8;
                        color: $color_8;
                    }
                }
                @media (max-width: 480px) {
                    margin-right: 5px;
                }
            }
        }
    }
}