.period-plan {
    background-color: $color_17;
    padding: 35px;
    h3 {
        margin-top: 0;
        margin-bottom: 40px;
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    .period-range {
        position: relative;
        width: 485px;
        height: 30px;
        .period {
            position: absolute;
            top: 12px;
            right: 0;
            left: 0;
            bottom: 12px;
            @include transition(.3s);
            @include border-radius(3px);
            &.period-empty {
                background-color: $color_2;
                border: 1px solid $color_3;
                @include transition(.3s);
            }
            &.period-filled {
                border: 1px solid $color_6;
                background-color: $color_6;
                @include transition(.3s);
                &#three-months {
                    right: 98%;
                    @include transition(.3s);
                }
                &#six-months {
                    right: 66%;
                    @include transition(.3s);
                }
                &#nine-months {
                    right: 33%;
                    @include transition(.3s);
                }
                &#twelve-months {
                    right: 0;
                    @include transition(.3s);
                }
            }
        }
        .period-separator {
            width: 8px;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 10;
            background-color: $color_2;
            border: 1px solid $color_3;
            cursor: pointer;
            @include transition(.3s);
            @include border-radius(3px);
            &.period-filled {
                background-color: $color_6;
                border: 1px solid $color_6;
                @include transition(.3s);
                &.current {
                    width: 30px;
                    border: 1px solid $color_3;
                    cursor: default;
                    @include box-shadow(inset 0px 0px 0px 2px $color_2);
                    @include border-radius(50%);
                    @include transition(.3s);
                }
            }
            &.three-months {
                right: 95%;
                &.current {
                    right: 92%;
                }
            }
            &.six-months {
                right: 66%;
                &.current {
                    right: 63%;
                }
            }
            &.nine-months {
                right: 33%;
                &.current {
                    right: 30%;
                }
            }
            &.twelve-months {
                right: 5%;
                &.current {
                    right: 2%;
                }
            }
        }
        .period-text {
            position: absolute;
            bottom: -20px;
            &.three-months {
                left: -5%;
            }
            &.six-months {
                right: 61%;
            }
            &.nine-months {
                right: 28%;
            }
            &.twelve-months {
                right: -5%;
            }
        }
    }
}
