.photo-wrapper {
    position: relative;
    .photo {
        display: block;
        img {
            display: block;
        }
    }
    &:hover {
        @include transition(.3s);
        .pad {
            @include opacity(1);
            @include transition(.3s);
        }
    }
    .pad {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color_11, 0.6);
        text-align: center;
        @include opacity(0);
        @include transition(.3s);
        .uploading-photo {
            margin-top: 80px;
            color: $color_18;
            .loading {
                margin-bottom: 15px;
            }
            @media (max-width: 480px) {
                margin-top: 150px;
            }
        }
        .upload-new-photo {
            display: block;
            @include roboto-font($light-font, $light-font-weight);
            font-size: 12px;
            @include border-radius(3px);
        }
    }
    &.uploading {
        .pad {
            @include opacity(1);
            background-color: rgba($color_2, 0.6);
        }
    }
    &.delete-photo {
        .bordered-button {
            color: $color_2;
            border-color: $color_2;
            background: transparent;
            &:hover {
                background-color: $color_6;
            }
            .text {
                font-size: 14px;
                text-transform: capitalize;
            }
            &.btn-delete {
                margin-top: 80px;
                margin-bottom: 0;
                padding-right: 30px;
                padding-left: 30px;
                @include inline-block;
                @media (max-width: 480px) {
                    margin-top: 150px;
                }
            }
            &.btn-edit {

            }
        }
    }
}
