.row-thumb-photos {
    margin-bottom: 16px;
    @include clearfix();
    @media (max-width: 480px) {
        margin-bottom: 0;
        text-align: center;
    }

    .photo-wrapper {
        float: left;
        width: 100%;
        margin-right: 16px;
        @media (max-width: 480px) {
            width: 100%;
            float: none;
            margin-right: 0;
            @include inline-block();
        }

        &:nth-child(5n),
        &:last-child {
            margin-right: 0;
        }

        .photo {
            cursor: pointer;
            display: block;
            height: 260px;

            .thumb-photo {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                text-indent: -10000px;
                @include inline-block();
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    width: 210px;
                    height: 210px;
                }
                @media (max-width: 480px) {
                    margin-right: 0;
                }
            }
        }

        .won-badges {
            position: absolute;
            top: 5px;
            right: 5px;
            @include clearfix;

            .badge {
                float: left;
                padding: 0;
                margin-right: 5px;
                background-color: transparent;
            }
        }

        &.photo-story {
            width: 200px;
            margin-right: 30px;
            margin-bottom: 30px;
            position: relative;
            @include box-shadow($color_13 14px 14px 0);

            &:nth-of-type(5) {
                margin-right: 0;
            }

            @media (max-width: 767px) {
                width: 300px;
                margin-right: 0;
                margin-bottom: 45px;
            }

            .photo {
                height: 200px;
                margin-bottom: 0;
                @include box-shadow($color_29 7px 7px 0);
                @media (max-width: 767px) {
                    height: 300px;
                }

                .thumb-photo {
                    border: 1px solid $color_2;
                    text-indent: unset;
                    text-align: center;
                    color: $color_2;
                    padding-top: 70px;
                    @media (max-width: 767px) {
                        padding-top: 130px;
                    }

                    &:hover {
                        .photo-story-name,
                        .photo-story-date {
                            display: block;
                        }
                    }

                    .photo-story-name {
                        display: none;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 15px;
                        line-height: 1em;
                        @media (max-width: 767px) {
                            display: block;
                        }
                    }

                    .photo-story-date {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1em;
                        display: none;
                        @media (max-width: 767px) {
                            display: block;
                        }
                    }
                }
            }
        }

        &.photo-album {
            border: 1px solid $color_13;
            @include border-radius(3px);

            &:hover {
                border-color: $color_6;

                .photo-album-name {
                    background-color: $color_6;

                    h3 {
                        a {
                            color: $color_2;
                        }
                    }

                    .photo-author-nickname,
                    .photos-counter {
                        color: lighten($color_6, 30%);
                    }
                }
            }

            .photo-album-name {
                height: 60px;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color_64;
                text-align: center;
                @include transition(.3s);

                h3 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 16px;

                    a {
                        @include transition(.3s);
                    }
                }

                .photo-author-nickname {
                    color: $color_63;
                    @include transition(.3s);
                    @include inline-block();

                    &:after {
                        content: '/';
                        margin-left: 5px;
                    }
                }

                .photos-counter {
                    color: $color_63;
                    @include inline-block();
                    @include transition(.3s);
                }
            }
        }
    }
}
