.separator-module {
    position: relative;
    height: 20px;
    margin-bottom: 25px;
    @include clearfix;
    h2.head {
        margin-top: 0;
        font-size: 18px;
        @include roboto-font($light-font, $light-font-weight);
        color: #757474;
    }
    .separator-text {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        @include inline-block();
        span {
            @include roboto-font($regular-font, $regular-font-weight);
            font-size: 14px;
            text-transform: uppercase;
            background-color: $color_2;
            padding-right: 15px;
            padding-left: 15px;
            @include inline-block();
        }
    }
    .separator-line {
        position: absolute;
        height: 1px;
        top: 9px;
        right: 0;
        left: 0;
        margin: 0;
        @include inline-block();
    }
}