.share-this {
    position: fixed;
    right: 30px;
    bottom: 60%;
    background-color: $color_2;
    z-index: 999;
    padding: 10px;
    @include border-radius(3px 0 0 3px);
    @media (max-width: 767px) {
        bottom: 65%;
    }
    .network {
        text-align: center;
        display: block;
        margin-bottom: 15px;
        @include border-radius(3px);
        &:last-child {
            margin-bottom: 0;
        }
        &.facebook {
            a {
                &:hover {
                    border: 1px solid darken($color_25, 12%);
                    background-color: $color_25;
                }
            }
        }
        &.pinterest {
            a {
                &:hover {
                    border: 1px solid darken($color_27, 12%);
                    background-color: $color_27;
                }
            }
        }
        &.google-plus {
            a {
                &:hover {
                    border: 1px solid darken($color_26, 12%);
                    background-color: $color_26;
                }
            }
        }
        a {
            display: block;
            border: 1px solid $color_23;
            padding: 5px;
            @include border-radius(3px);
            @include transition(.3s);
            &:hover {
                color: $color_2;
            }
        }
    }
}
