.panel {
    border: none;
    @include box-shadow(none);
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
    .panel-heading {
        overflow: hidden;
        height: 56px;
        .nav-prev-tabs,
        .nav-next-tabs {
            display: none;
            @media (max-width: 767px) {
                display: none !important;
            }
        }
        &.scrolling-tabs {
            .nav-prev-tabs,
            .nav-next-tabs {
                padding-top: 12px;
                cursor: pointer;
                i.fa {
                    font-size: 28px;
                }
            }
            .nav-prev-tabs {
                text-align: left;
            }
            .nav-next-tabs {
                text-align: right;
            }
            .nav-tabs-wrapper {
                overflow: hidden;
                @include clearfix();
                .nav.nav-tabs {
                    position: relative;
                    overflow-x: auto;
                    overflow-y: hidden;
                    display: -webkit-box;
                    display: -moz-box;
                    white-space: nowrap;
                }
            }
        }
        .nav-tabs {
            @include inline-block();
            height: 70px;
            @media (max-width: 767px) {
                position: relative;
                overflow-x: auto;
                overflow-y: hidden;
                display: -webkit-box;
                display: -moz-box;
                white-space: nowrap;
                width: auto !important;
            }
            li {
                margin-right: 40px;
                font-size: 16px;
                float: none;
                @include inline-block();
                a {
                    color: $color_4;
                    border: none;
                    border-bottom: 3px solid $color_13;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    &:hover {
                        background: transparent;
                        border-bottom: 3px solid $color_6;
                        @include transition(.3s);
                    }
                }
                &.active {
                    a {
                        border: none;
                        color: $color_6;
                        border-bottom: 3px solid $color_6;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .panel-body {
        border-top: 3px solid $color_13;
        margin-top: -4px;
        @media (max-width: 767px) {
            padding: 0;
        }
    }
}
