.top-header {
    @media (max-width: 767px) {
        position: relative;
    }
    .mobile-menu-wrapper {
        background-color: $color_1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999999;
        display: none;
        //@include opacity(0);
        .mobile-menu-nav {
            padding: 15px;
            display: block;
            margin-bottom: 0;
            @include clearfix;
            .menu-item {
                cursor: pointer;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
        .top-menu {
            display: block;
            border-bottom: 1px solid $color_2;
            .menu-item {
                float: none;
                margin-right: 0;
                display: list-item;
                padding: 20px 15px;
                border-top: 1px solid $color_2;
                .menu-element {
                    text-align: right;
                    span {
                        float: none;
                        @include inline-block();
                    }
                }
                &.has-submenu {
                    position: unset;
                    .menu-element {
                        i.fa {
                            margin-left: 5px;
                        }
                    }
                    .submenu {
                        top: 53px;
                        left: 0;
                        right: 0;
                        width: auto;
                    }
                }
                &.user-account {
                    text-align: right;
                    .menu-element {
                        @include inline-block();
                    }
                    .separator {
                        color: $color_2;
                        margin: 0 20px;
                    }
                }
                &.switch-language {
                    text-align: right;
                    @include clearfix;
                    label {
                        color: $color_24;
                        margin-right: 15px;
                        margin-bottom: 0;
                        font-weight: normal;
                        @include inline-block();
                    }
                    .btn-group.bootstrap-select {
                        width: 60%;
                        @include inline-block();
                        @media (max-width: 480px) {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}
