.top-menu {
    @include roboto-font($regular-font, $regular-font-weight);
    font-size: 14px;
    margin-bottom: 0;
    @include inline-block;
    .menu-item {
        position: relative;
        display: block;
        float: left;
        margin-right: 35px;
        padding: 14px 0;
        &:last-child {
            margin-right: 0;
        }
        &.current,
        &.active, &:hover {
            cursor: pointer;
            .menu-element {
                color: $color_6;
                &.photographers {
                    .icon {
                        @include sprites('photographers_hover');
                    }
                }
                &.pictures {
                    .icon {
                        @include sprites('pictures_hover');
                    }
                }
                &.themes {
                    .icon {
                        @include sprites('themes_hover');
                    }
                }
            }
        }
        &:hover {
            &.has-submenu {
                .submenu {
                    display: block;
                }
            }
        }
        &.has-submenu {
            .submenu {
                display: none;
                position: absolute;
                z-index: 999999;
                width: 210px;
                top: 48px;
                background-color: $color_1;
                .menu-item {
                    padding: 15px 20px;
                    text-align: left;
                    border-top: 1px solid $color_2;
                    margin-right: 0;
                    float: none;
                    display: block;
                    &:hover {
                        cursor: pointer;
                        .menu-element {
                            color: $color_6;
                        }
                    }
                    &.label-success {
                        &:hover {
                            .menu-element {
                                color: $color_2;
                            }
                        }
                    }
                    .menu-element {
                        color: $color_2;
                        span {
                            &.icon {
                                display: none;
                            }
                            &.text {
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .menu-element {
            display: block;
            color: $color_2;
            @include clearfix;
            span {
                float: left;
                &.icon {
                    margin-right: 10px;
                }
            }
            &.photographers {
                .icon {
                    @include sprites('photographers');
                }
            }
            &.pictures {
                .icon {
                    @include sprites('pictures');
                }
            }
            &.themes {
                .icon {
                    @include sprites('themes');
                }
            }
        }
    }
}

