.user-account-tools-wrapper {
    float: left;
    margin-top: 16px;
    margin-right: 30px;
    margin-bottom: 0;
    @media (max-width: 767px) {
        margin-top: 18px;
        margin-right: 30px;
        float: none;
        @include inline-block();
    }

    &.not-logged {
        margin-top: 15px;
        text-align: right;
        @media (max-width: 767px) {
            width: 55%;
        }

        .user-account-tool {
            &.upload-photo {
                float: none;
            }
        }
    }

    &.logged {
        .user-account-tool {
            &.messages, &.news {
                position: relative;
            }

            .user-notifications-list-wrapper {
                display: none;
                position: absolute;
                top: 35px;
                right: -15px;
                z-index: 999999;
                width: 300px;
                background: $color_2;
                @include border-radius(0 0 3px 3px);
                @include box-shadow(0 3px 12px $color_24);

                .user-notifications-list-tick {
                    position: absolute;
                    top: -8px;
                    right: 15px;
                    @include sprites('uptick');
                }

                header {
                    font-size: 11px;
                    padding: 15px;
                    border-bottom: 1px solid $color_24;
                    @include roboto-font($condensed-font, $condensed-font-weight);
                    @include clearfix();

                    .new-notifications-counter {
                        float: left;
                        color: $color_24;
                    }

                    .view-all {
                        float: right;
                        @include roboto-font($light-font, $light-font-weight);
                    }
                }

                .user-notifications-list {
                    padding: 15px 0 0;
                    max-height: 300px;
                    overflow-x: hidden;
                    @include clearfix();

                    .user-notification {
                        @include clearfix();

                        &.unread {
                            .notification {
                                .notification-content-wrapper {
                                    span {
                                        color: $color_20;
                                        @include roboto-font($light-font, $light-font-weight);

                                        &.sender-name,
                                        &.notification-content {

                                        }
                                    }
                                }
                            }
                        }

                        .notification {
                            padding-bottom: 0;
                            display: block;
                            @include clearfix();

                            .sender-photo,
                            .notification-content-wrapper {
                                float: left;
                                display: block;
                            }

                            .sender-photo {
                                width: 40px;
                                height: 40px;
                                margin-left: 15px;
                                @include border-radius(50%);
                            }

                            .notification-content-wrapper {
                                margin-bottom: 20px;
                                padding: 0 0 20px 15px;
                                border-bottom: 1px solid $color_24;
                                width: 225px;

                                span {
                                    display: block;
                                    font-size: 12px;
                                    color: $color_28;
                                    @include roboto-font($condensed-font, $condensed-font-weight);

                                    &.sender-name {
                                        span {
                                            @include inline-block();
                                        }
                                    }

                                    &.notification-since {
                                        color: $color_3;
                                    }

                                    &.notification-content {
                                        @include multiLineEllipsis();
                                        &:before {
                                            right: 12px;
                                            top: 15px;
                                            width: 15px;
                                            text-align: right;
                                            height: 30px;
                                        }
                                    }
                                }
                            }
                        }

                        &:last-child {
                            .notification {
                                .notification-content-wrapper {
                                    margin-bottom: 0;
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                    &.loading {
                        height: 265px;
                        text-align: center;
                        .icon {
                            font-size: 21px;
                            margin-right: 15px;
                        }
                        .text {
                            font-size: 16px;
                        }
                    }
                }

                footer {
                    border-top: 1px solid $color_2;;
                    text-align: right;
                    padding: 15px;

                    .view-all {
                        font-size: 11px;
                        line-height: 1.2em;
                    }
                }
            }
        }
    }

    .user-account-tool {
        float: left;
        display: inline-block;
        padding-bottom: 15px;
        margin-left: 25px;
        @media (max-width: 767px) {
            margin-left: 10px;
            float: none;
        }
        &:first-child {
            margin-left: 0;
        }

        a {
            display: block;
            position: relative;

            i.fa {
                color: $color_6;
                font-size: 18px;
                display: block;
            }

            .counter {
                text-align: center;
                position: absolute;
                right: -8px;
                background-color: $color_26;
                width: 16px;
                height: 16px;
                color: $color_2;
                font-size: 10px;
                line-height: 1.6em;
                @include border-radius(50%);
            }
        }

        &.upload-photo {
            margin-top: 1px;
        }

        &.messages {
            padding-top: 4px;
            a {
                i.fa {
                    margin-top: -5px;
                }

                .counter {
                    top: -9px;
                }
            }

            .user-notifications-list-wrapper {
                @media (max-width: 767px) {
                    right: -75px;
                }

                .user-notifications-list-tick {
                    @media (max-width: 767px) {
                        right: 75px;
                    }
                }
            }
        }

        &.news {
            a {
                .counter {
                    top: -9px;
                }
            }

            .user-notifications-list-wrapper {
                @media (max-width: 767px) {
                    right: -42px;
                }

                .user-notifications-list-tick {
                    @media (max-width: 767px) {
                        right: 42px;
                    }
                }
            }
        }
    }
}
