.photo-stories-upload-page {
    .container-wrapper {
        .content-wrapper {
            .content-header {
                .page-title {
                    margin-bottom: 60px;
                }

                .photo-stories-notice-wrapper {
                    @media (max-width: 767px) {
                        text-align: inherit;
                    }

                    p {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .photo-stories-notice {
                        @media (max-width: 767px) {
                            margin-bottom: 30px;
                        }
                    }
                }
            }

            .content {
                label {
                    margin-top: 12px;
                    margin-bottom: 0;
                    @media (max-width: 767px) {
                        margin-top: 0;
                        margin-bottom: 5px;
                    }
                }

                .upload-photos-container {
                    margin-top: 45px;
                    margin-bottom: 45px;
                    border: 1px dashed $color_21;
                    text-align: center;
                    padding: 45px;
                    @include border-radius(5px);

                    .notice {
                        font-size: 21px;
                        color: $color_21;
                    }

                    .add-new {
                        overflow: hidden;
                        position: relative;
                        border: 1px solid;
                        padding: 7px 21px;
                        border-radius: 3px;
                        float: right;
                        @media (max-width: 767px) {
                            float: none;
                            margin-top: 30px;
                        }

                        span.text {
                            font-size: 16px;
                        }

                        #browse-photo {
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            @include opacity(0);
                        }
                    }

                    .uploading-photos-notice {
                        .notice {
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                    }
                }

                .uploaded-photos-wrapper {
                    text-align: center;

                    .uploaded-photos-header {
                        margin-bottom: 50px;
                        color: $color_18;
                        @include inline-block();
                        @include clearfix();
                        @include roboto-font($light-font, $light-font-weight);

                        .slide-horizontal-notice {
                            float: left;
                            margin-right: 30px;
                            @media (max-width: 767px) {
                                float: none;
                                margin-right: 0;
                                margin-bottom: 30px;
                                @include inline-block();
                            }
                        }

                        .choose-cover-photo {
                            float: left;
                            @include clearfix();
                            @media (max-width: 767px) {
                                float: none;
                                margin-right: 0;
                                @include inline-block();
                            }

                            i.fa, .text {
                                float: left;
                                display: block;
                            }

                            i.fa {
                                font-size: 25px;
                                margin-right: 10px;
                            }

                            .text {
                                margin-top: 3px;
                            }
                        }
                    }

                    .row-thumb-photos {
                        .photo-wrapper {
                            width: auto;
                            margin-bottom: 15px;

                            &.cover-photo {
                                .my-cover-photo {
                                    position: absolute;
                                    top: 10px;
                                    right: 15px;
                                    font-size: 21px;
                                    padding: 5px 10px;
                                    color: $color_2;
                                    background-color: $color_11;
                                    @include border-radius(3px);

                                    i.fa {
                                        line-height: 1em;
                                    }
                                }
                            }

                            &.delete-photo {
                                .btn {
                                    &.btn-cover-photo {
                                        margin: 40px auto 0;
                                        display: block;
                                    }

                                    &.btn-delete {
                                        &.bordered-button {
                                            margin-left: 0;
                                            margin-top: 40px;
                                        }
                                    }
                                }
                            }

                            .photo {
                                margin-bottom: 0;
                                @media (min-width: 1200px) {
                                    width: 215px;
                                    height: 215px;
                                }
                                @media (max-width: 480px) {
                                    width: 250px;
                                    height: 250px;
                                }
                                .thumb-photo {
                                    @media (max-width: 480px) {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            .won-badges {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                @include clearfix;

                                .badge {
                                    float: left;
                                    padding: 0;
                                    margin-right: 5px;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
