.photo-stories-preview-page {
    position: relative;
    .container-wrapper {
        .content-wrapper {
            .content-header {
                border-bottom: 1px solid $color_12;
            }
            .content {
                .single-storie {
                    margin-bottom: 30px;
                    text-align: center;
                    .story-head {
                        text-align: left;
                        margin-bottom: 30px;
                        .story-title {
                            margin-top: 0;
                        }
                        .story-description {

                        }
                        .next-story {
                            text-align: right;
                            @media (max-width: 767px) {
                                float: right;
                                margin-top: 65px;
                            }
                        }
                        ul {
                            margin-bottom: 20px;
                            @include clearfix();
                            li {
                                float: left;
                                color: $color_9;
                                margin-right: 15px;
                            }
                        }
                        .change-grid-view {
                            margin-top: 60px;
                            @media (max-width: 767px) {
                                float: left;
                            }
                        }
                    }
                    .row-grid-photos {
                        text-align: center;
                        @include clearfix();
                        &.list-view {
                            .photo-wrapper {
                                float: none;
                                a.photo {
                                    width: auto;
                                    height: auto;
                                    @include inline-block();
                                }
                            }
                        }
                        &.grid-view {
                            .photo-wrapper {
                                float: left;
                                margin-right: 15px;
                                @include inline-block();
                                a.photo {
                                    display: block;
                                    height: 370px;
                                    max-width: 555px;
                                    @media (max-width: 767px) {
                                        height: auto;
                                        max-width: 157px;
                                        @include inline-block();
                                    }
                                }
                            }
                        }
                        .photo-wrapper {
                            margin-bottom: 15px;
                            a.photo {
                                .grid-photo {
                                    width: 100%;
                                    height: 100%;
                                    background-position: center center;
                                    background-size: cover;
                                    text-indent: -10000px;
                                    @include inline-block();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
