.photo-stories-page {
    .top-header {
        margin-bottom: 20px;
    }
    .photos-wrapper {
        .row-thumb-photos {
            margin-bottom: 30px;
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        //.panel {
        //    .panel-heading {
        //        text-align: center;
        //    }
        //    .panel-body {
        //        padding: 35px 0;
        //        .photo-stories {
        //            .single-storie {
        //                margin-bottom: 30px;
        //                border-bottom: 1px solid $color_12;
        //                padding-bottom: 30px;
        //                @include clearfix();
        //                @media (max-width: 767px) {
        //                    padding-bottom: 15px;
        //                }
        //                &:last-child {
        //                    border-bottom: 0;
        //                    padding-bottom: 0;
        //                }
        //                .main-photo {
        //                    position: relative;
        //                    @media (max-width: 767px) {
        //                        margin-bottom: 16px;
        //                    }
        //                    &:hover {
        //                        .stories-info {
        //                            @include opacity(1);
        //                        }
        //                    }
        //                    .photo {
        //                        width: 360px;
        //                        height: 360px;
        //                        display: block;
        //                        @media (max-width: 767px) {
        //                            width: 100%;
        //                        }
        //                        .thumb-photo {
        //                            width: 100%;
        //                            height: 100%;
        //                            background-position: center center;
        //                            background-size: cover;
        //                            text-indent: -10000px;
        //                            @include inline-block();
        //                        }
        //                    }
        //                    .stories-info {
        //                        color: $color_2;
        //                        text-align: center;
        //                        position: absolute;
        //                        top: 0;
        //                        right: 0;
        //                        bottom: 0;
        //                        left: 0;
        //                        @include transition(.3s);
        //                        @include opacity(0);
        //                        background-color: rgba($color_11, .6);
        //                        @media (max-width: 767px) {
        //                            @include opacity(1);
        //                        }
        //                        h5 {
        //                            margin-top: 60px;
        //                            margin-bottom: 75px;
        //                            .photo-author {
        //                                color: $color_2;
        //                                display: block;
        //                            }
        //                        }
        //                        .date,
        //                        .photo-location {
        //                            @include roboto-font($condensed-font, $condensed-font-weight);
        //                        }
        //                        .stories-name {
        //                            font-size: 32px;
        //                            margin-top: 15px;
        //                            margin-bottom: 60px;
        //                            a {
        //                                color: $color_2;
        //                            }
        //                        }
        //                        .photo-location {
        //
        //                        }
        //                    }
        //
        //                }
        //                .row-thumb-photos {
        //                    margin-bottom: 0;
        //                    .photo-wrapper {
        //                        width: 165px;
        //                        .photo {
        //                            height: 165px;
        //                            margin-bottom: 0;
        //                            &:hover {
        //                                .photo-author {
        //                                    @include opacity(1);
        //                                }
        //                            }
        //                            .photo-author {
        //                                position: absolute;
        //                                left: 15px;
        //                                bottom: 15px;
        //                                color: $color_2;
        //                                @include opacity(0);
        //                                @include transition(.3s);
        //                            }
        //                        }
        //                    }
        //                }
        //                .right-column {
        //                    @media (max-width: 767px) {
        //                        display: none;
        //                    }
        //                    .row {
        //                        &:nth-child(2) {
        //                            .row-thumb-photos {
        //                                margin-bottom: 0;
        //                            }
        //                        }
        //                    }
        //                }
        //            }
        //        }
        //    }
        //}
    }
}
