.about-us-page {
    .container-wrapper {
        background: url('../images/backgrounds/about_us_backgroud.jpg') no-repeat center center / cover;
        @media (min-width: 1300px) {
            height: 100vh;
        }
        @media (max-width: 767px) {
            background-position: right center;
        }
    }
}
