.admin-page {
    &.edit-mode {
        .container-wrapper {
            .content-wrapper {
                padding-top: 0;
            }
        }
    }
    .container-wrapper {
        .content-wrapper {
            .panel {
                margin-bottom: 0;
                .panel-heading {
                    text-align: center;
                    .nav-tabs {
                        @include inline-block();
                        @media (max-width: 767px) {
                            display: -webkit-box;
                            display: -moz-box;
                        }
                    }
                }
                .panel-body {
                    .tab-content {
                        .tab-pane {
                            .content {
                                .filter-wrapper {
                                    .search {
                                        .btn-group.bootstrap-select {
                                            width: 168px;
                                            @media (min-width: 768px) and (max-width: 979px) {
                                                float: left;
                                            }
                                        }
                                        .btn.btn-custom {
                                            @media (min-width: 768px) and (max-width: 979px) {
                                                float: left;
                                                margin-left: 15px;
                                            }
                                        }
                                    }
                                }
                                table.table {
                                    .profile-name {
                                        width: 300px;
                                    }
                                    .options {
                                        width: 180px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
