.container-wrapper {
    .content-wrapper {
        padding-top: 50px;
        padding-bottom: 85px;

        .content-header {
            text-align: center;
            margin-bottom: 50px;

            h1 {
                margin-top: 0;
                margin-bottom: 15px;
                @include roboto-font($condensed-font, $condensed-font-weight);
            }

            h2 {
                margin: 0;
                color: $color_8;
                @include roboto-font($light-font, $light-font-weight);
            }
        }

        .content {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
