.contacts-page {
    .container-wrapper {
        background-color: $color_7;
        .content-wrapper {
            .content-header {
                h2 {
                    color: $color_8;
                }
            }
            .content {
                .contacts-form {
                    padding-right: 50px;
                    @media (max-width: 979px) {
                        padding-right: 0;
                    }
                }
                .contacts-information {
                    padding-left: 50px;
                    @media (max-width: 979px) {
                        padding-left: 0;
                    }
                    .contact-department {
                        margin-bottom: 55px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .department-title {
                            margin-top: 0;
                        }
                        .department-info {
                            margin-bottom: 20px;
                            .leader {
                                @include roboto-font($light-font, $light-font-weight);
                                font-size: 14px;
                            }
                        }
                        .department-contacts {
                            .contact {
                                display: block;
                                margin-bottom: 15px;
                                @include clearfix;
                                span {
                                    float: left;
                                    &.icon {
                                        margin-right: 12px;
                                        &.phone {
                                            margin-left: 3px;
                                            margin-right: 15px;
                                        }
                                    }
                                    &.text {
                                        margin-top: 2px;
                                    }
                                }
                                &.mail {
                                    span {
                                        &.text {
                                            margin-top: -3px;
                                            color: $color_5;
                                        }
                                    }
                                }
                                &.phone {
                                    span {
                                        &.text {
                                            @include roboto-font($light-font, $light-font-weight);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
