.home-page {
    .main-header {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background: no-repeat center center / cover;
        @media (max-width: 1200px) {
            height: auto;
            overflow: visible;
        }
        //.featured-photos {
        //    position: absolute;
        //    top: 0;
        //    right: 0;
        //    bottom: 0;
        //    left: 0;
        //    z-index: -1;
        //    text-align: center;
        //    img {
        //        width: 100%;
        //        @include inline-block();
        //        @media (min-width: 768px) and (max-width: 1200px) {
        //            height: 100vh;
        //        }
        //        @media (min-width: 768px) and (max-width: 979px) {
        //            height: 100%;
        //        }
        //        @media (min-width: 481px) and (max-width: 767px) {
        //            height: 100%;
        //        }
        //        @media (max-width: 480px) {
        //            width: 100%;
        //            height: 100%;
        //        }
        //    }
        //}
        .content-wrapper {
            margin-top: 33vh;
            @include clearfix;
            @media (max-width: 1200px) {
                margin-top: 25px;
            }
            @media (min-width: 768px) and (max-width: 1199px) {
                margin-top: 33vh;
            }
            @media (min-width: 768px) and (max-width: 979px) {
                margin-top: 25px;
            }
            h2 {
                color: $color_2;
                font-size: 30px;
                @include roboto-font($light-font, $light-font-weight);
                @include text-shadow(1px 1px 3px #666666);
                @media (max-width: 480px) {
                    font-size: 26px;
                }
            }
            p {
                color: $color_2;
                font-size: 18px;
                @include roboto-font($light-font, $light-font-weight);
                line-height: 1.2em;
                @include text-shadow(1px 1px 3px #666666);
                @media (max-width: 480px) {
                    font-size: 16px;
                }
            }
            .open-account-photographer {
                padding-left: 15px;
                text-align: right;
                @media (max-width: 480px) {
                    padding-left: 0;
                    text-align: center;
                }
            }
            .logo-home-header {
                text-align: center;
                .logo {
                    text-indent: -100000px;
                    @include sprites('logo_home_white');
                    @include inline-block;
                }
                @media (max-width: 768px) {
                    margin-top: 33%;
                }
            }
            .looking-for-photographer {
                padding-right: 15px;
                text-align: left;
                @media (max-width: 480px) {
                    padding-right: 0;
                    text-align: center;
                }
            }
        }
        .arrow-down-wrapper {
            position: absolute;
            right: 0;
            bottom: 30px;
            left: 0;
            text-align: center;
            @media (max-width: 480px) {
                display: none;
            }
            .icon.arrow-down {
                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
    }
    .section-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .photographers-all {
        .head {
            text-align: center;
            @include roboto-font($light-font, $light-font-weight);
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 60px;
        }
        .photographers-list {
            text-align: center;
            @include clearfix;
            .photographer {
                text-align: center;
                margin-right: 21px;
                margin-bottom: 50px;
                margin-left: 21px;
                @include inline-block;
                @media (max-width: 480px) {
                    margin-right: 0;
                    margin-left: 0;
                    display: block;
                }
                &.main-details {
                    .photo-wrapper {
                        width: 100px;
                        height: 100px;
                        margin-right: 0;
                        float: none;
                        @include inline-block();
                        a.photo {
                            @media (max-width: 768px) {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .photographer-name {
                        margin-top: 10px;
                        .name {
                            display: block;
                            @include roboto-font($bold-font, $bold-font-weight);
                            font-size: 14px;
                            color: $color_4;
                            line-height: 1.2em;
                        }
                        .nickname {
                            display: block;
                            color: $color_8;
                            font-size: 12px;
                            line-height: 1.2em;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .best-photos {
        background-color: $color_12;
        .head {
            @include roboto-font($light-font, $light-font-weight);
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 60px;
        }
        .btn-photo-all {
            margin-top: 30px;
        }
        .row-thumb-photos {
            .photo-wrapper {
                width: 215px;
                @media (max-width: 767px) {
                    width: 100%;
                }
                .photo {
                    height: 215px;
                    @media (max-width: 767px) {
                        height: 365px;
                    }
                }
            }
        }
    }
    .our-themes {
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }
        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
        .head {
            @include roboto-font($light-font, $light-font-weight);
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 60px;
        }
        .theme-category {
            @include inline-block;
            margin-bottom: 15px;
            .theme-image {
                margin-bottom: 8px;
                @include inline-block;
                @media (min-width: 768px) and (max-width: 979px) {
                    display: block;
                    width: 100%;
                }
                @media (max-width: 480px) {
                    width: 100%;
                }
            }
            .theme-name {
                @include roboto-font($light-font, $light-font-weight);
                font-size: 16px;
                color: $color_8;
            }
        }
    }
    footer.top-footer {
        padding-top: 95px;
        padding-bottom: 70px;
        background-color: $color_12;
        .most-popupalr-cities {
            text-align: center;
            .head {
                margin: 0 0 25px;
                font-size: 24px;
                color: $color_4;
            }
            .cities-list {
                margin-bottom: 0;
                .city {
                    margin-right: 15px;
                    margin-bottom: 25px;
                    @include inline-block;
                    a {
                        color: $color_8;
                    }
                }
            }
        }
    }
}
