.interview-page {
    .content-wrapper {
        .content-header {
            .switch-interview-language {
                @include inline-block();
                @include clearfix();
                h5, .btn-group {
                    float: left;
                }
                h5 {
                    margin-bottom: 0;
                    margin-top: 12px;
                    line-height: 1.2em;
                }
                .btn-group {
                    margin-left: 15px;
                }
            }
            .main-details {
                margin-top: 30px;
                .photo-wrapper {
                    width: 120px;
                    height: 120px;
                    margin-bottom: 30px;
                    float: none;
                    margin-right: 0;
                    @include inline-block();
                }
            }
        }
        .content-body {
            &.interview-form {
                .form-wrap {
                    .form-group {
                        margin-bottom: 50px;
                        textarea {
                            resize: none;
                        }
                    }
                }
            }
            .photographer-brief-description {
                margin-bottom: 60px;
            }
            .interview {
                li {
                    margin-bottom: 45px;
                    p {
                        margin-bottom: 15px;
                        &:before {
                            content: '\f068';
                            position: absolute;
                            left: -5px;
                            pointer-events: none;
                            font-family: FontAwesome;
                        }
                        &.question {
                            @include roboto-font($bold-font, $bold-font-weight);
                        }
                    }
                }
            }
        }
    }
}
