.join-pro-page {
    .main-header {
        position: relative;
        height: 500px;
        background: url('../images/backgrounds/join_pro.jpg') no-repeat center center / cover;
        .content-wrapper {
            text-align: center;
            @include clearfix;
            .logo-join-pro {
                margin-top: 100px;
                margin-bottom: 70px;
                .logo {
                    text-indent: -100000px;
                    @include sprites('logo_join_pro_black');
                    @include inline-block;
                }
                @media (min-width: 768px) and (max-width: 979px) {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                @media (max-width: 480px) {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
            .head {
                font-size: 48px;
                @include roboto-font($light-font, $light-font-weight);
                @media (max-width: 480px) {
                    font-size: 40px;
                }
            }
            .sub-head {
                font-size: 28px;
                @include roboto-font($light-font, $light-font-weight);
                color: $color_19;
            }
        }
        .arrow-down-wrapper {
            position: absolute;
            right: 0;
            bottom: 30px;
            left: 0;
            text-align: center;
            .icon.arrow-down {
                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
    }
    .container-wrapper {
        h3 {
            text-align: center;
            color: $color_18;
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 20px;
        }
        .price {
            margin-bottom: 60px;
            text-align: right;
            span {
                @include inline-block();
                &.text {
                    text-transform: uppercase;
                    font-size: 18px;
                    margin-right: 15px;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
                &.value {
                    border: 3px solid $color_6;
                    padding: 10px 12px;
                    font-size: 24px;
                    @include roboto-font(\$light-font, \$light-font-weight);
                    @include border-radius(3px);
                }
            }

        }
        .content-wrapper {
            text-align: center;
            padding-bottom: 0;
            margin-bottom: 60px;
            .content {
                .open-account-type {
                    margin-bottom: 0;
                    tr {
                        td, th {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            &:not(:first-child) {
                                text-align: center;
                            }
                            &:nth-child(2) {
                                background-color: $color_6;
                                color: $color_2;
                                @include roboto-font($light-font, $light-font-weight);
                                font-size: 18px;
                            }
                        }
                        th {
                            &:nth-child(2) {
                                text-transform: uppercase;
                                background-color: darken($color_6, 15%);
                                @include border-radius(3px 3px 0 0);
                            }
                        }
                        &:last-child {
                            td {
                                &:nth-child(2) {
                                    @include border-radius(0 0 3px 3px);
                                }
                            }
                        }
                    }
                }
                .pro-feature-wrapper {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    .pro-feature-header {
                        margin-bottom: 30px;
                        .head {
                            margin: 0;
                            cursor: pointer;
                        }
                    }
                    .pro-feature-body {
                        display: none;
                        .choose-theme {
                            margin-bottom: 0;
                            tr {
                                td {
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    .checkbox.custom-checkbox {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        .period-plan {

                        }
                    }
                }
            }
        }
        .content {
            .payment-methods {
                text-align: center;
                .payment-methods-list {
                    margin-bottom: 60px;
                    @include inline-block();
                    @include clearfix();
                    @media (max-width: 767px) {
                        display: block;
                    }
                    .payment-method {
                        float: left;
                        margin-right: 30px;
                        padding: 8px;
                        cursor: pointer;
                        text-align: center;
                        position: relative;
                        border: 3px solid $color_2;
                        @include border-radius(5px);
                        @include transition(.3s);
                        @media (max-width: 979px) {
                            float: none;
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                        @media (max-width: 767px) {
                            @include transform(scale(.8));
                        }
                        &.selected {
                            border: 3px solid $color_6;
                        }
                        i.icon {
                            text-indent: -10000px;
                            @media (max-width: 767px) {
                                @include transform(scale(0.86));
                            }
                        }
                    }
                }
            }
        }
        .content-footer {
            text-align: center;
            margin-bottom: 60px;
            .discount-code {
                margin-bottom: 60px;
                .form-group {
                    margin-bottom: 0;
                }
                .btn-custom {
                    padding: 12px 15px 13px;
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
            .btn {
                &.btn-custom {
                    margin-bottom: 0;
                }
            }
        }
    }
}
