.photographer-gallery-page {
    .top-header {
        margin-bottom: 40px;
    }
    .profile-details {
        @include clearfix;
        .main-details {
            .photo-wrapper {
                width: 70px;
                height: 70px;
                a.photo {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .btn.bordered-button {
            margin-top: 20px;
            margin-left: 0;
            @media (max-width: 480px) {
                margin-top: 0;
                margin-bottom: 30px;
                width: 100%;
            }
        }
    }
    .main-photo-viewer {
        .category-photo-slider {
            .slides {
                li {
                    .slide-photo {
                        width: 100%;
                        height: 720px;
                        text-align: center;
                        overflow: hidden;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        position: relative;
                        @media (max-width: 767px) {
                            height: 330px;
                        }
                        .badges-list {
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            @include clearfix();
                            .badge-item {
                                float: left;
                                margin-right: 15px;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                        img {
                            width: auto;
                            height: 720px;
                            @include inline-block();
                            @media (max-width: 767px) {
                                height: 330px;
                            }
                        }
                    }
                    .photo-controls {
                        margin-top: 20px;
                        @include clearfix;
                        button.btn {
                            i.fa {
                                font-size: 16px;
                                margin-right: 5px;
                            }
                        }
                        .like-button {
                            float: left;
                            margin: 0;
                            i.fa {
                                &.fa-heart {
                                    display: none;
                                }
                                &.fa-heart-o {
                                    @include inline-block();
                                }
                            }
                            &:hover {
                                i.fa {
                                    &.fa-heart {
                                        @include inline-block();
                                    }
                                    &.fa-heart-o {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .add-to-favorites-button {
                            float: left;
                            margin-top: 0;
                            @media (max-width: 480px) {
                                margin-top: 10px;
                                margin-left: 0;
                            }
                            i.fa {
                                &.fa-star {
                                    display: none;
                                }
                                &.fa-star-o {
                                    @include inline-block();
                                }
                            }
                            &:hover {
                                i.fa {
                                    &.fa-star {
                                        @include inline-block();
                                    }
                                    &.fa-star-o {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .share-and-info {
                            float: right;
                            position: relative;
                            @include clearfix;
                            .photo-info {
                                width: 300px;
                                position: absolute;
                                right: 0;
                                bottom: 50px;
                                background-color: $color_2;
                                border: 1px solid $color_23;
                                text-align: right;
                                padding: 20px;
                                @include opacity(0);
                                @include transition(.3s);
                                &.active {
                                    @include transition(.3s);
                                    @include opacity(1);
                                }
                                p {
                                    margin-bottom: 20px;
                                }
                                .photo-camera-settings {
                                    @include inline-block();
                                    @include clearfix;
                                    li {
                                        float: left;
                                        &.separator {
                                            margin-right: 7px;
                                            margin-left: 7px;
                                        }
                                    }
                                }
                                i.fa {
                                    position: absolute;
                                    right: 21px;
                                    bottom: -10px;
                                    font-size: 24px;
                                    color: $color_23;
                                    @media (max-width: 480px) {
                                        bottom: -11px;
                                    }
                                }
                                @media (max-width: 480px) {
                                    bottom: 45px;
                                }
                            }
                            .btn-photo-info {
                                float: right;
                                border: 1px solid $color_23;
                                margin-left: 10px;
                                outline: none;
                                @include clearfix;
                                i.fa, .text {
                                    @include inline-block();
                                    float: left;
                                }
                                i.fa {
                                    margin-right: 0;
                                    margin-top: 2px;
                                    font-size: 15px;
                                }
                                .text {
                                    font-size: 11px;
                                    margin-top: 2px;
                                    margin-left: 3px;
                                    @media (min-width: 768px) and (max-width: 979px) {
                                        margin-top: 2px;
                                        margin-left: 3px;
                                    }
                                    @media (max-width: 480px) {
                                        display: none;
                                    }
                                }
                                @media (max-width: 480px) {
                                    margin-left: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .panel {
        .panel-heading {
            .nav.nav-tabs {
                //@include inline-block;
            }
        }
        .panel-body {
            padding: 0;
        }
    }
}
