.photographers-page {
    .container-wrapper {
        .top-header {
            margin-bottom: 20px;
        }
        .panel {
            margin-bottom: 0;
            .panel-body {
                padding: 0;
                .tab-content {
                    .filter-wrapper {
                        background-color: $color_14;
                        border-bottom: 1px solid $color_13;
                        .price-range {
                            margin-top: 12px;
                            position: relative;
                        }
                        .filter-option {
                            &.search {
                                .btn.btn-custom {
                                    float: right;
                                    margin-left: 5px;
                                    @media (min-width: 480px) and (max-width: 767px) {
                                        float: left;
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .filter-tags-wrapper {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        @media (max-width: 767px) {
                            padding-bottom: 15px;
                        }
                        .head {
                            margin: 0 15px 0 0;
                            color: $color_9;
                            float: left;
                            font-size: 14px;
                            line-height: 1.4em;
                            @include inline-block;
                            @media (max-width: 480px) {
                                margin-right: 10px;
                                float: none;
                            }
                        }
                        ul {
                            float: left;
                            margin-top: 0;
                            margin-bottom: 50px;
                            line-height: 1.4em;
                            @include clearfix;
                            li {
                                float: left;
                                margin-right: 15px;
                                a {
                                    color: $color_15;
                                    font-size: 14px;
                                    text-decoration: none;
                                    &:hover {
                                        color: $color_6;
                                    }
                                }
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                        .sorting-by {
                            @include clearfix;
                            .btn-group {
                                &.bootstrap-select {
                                    width: 230px;
                                    .dropdown-menu {
                                        ul {
                                            &.dropdown-menu {
                                                margin-bottom: 0;
                                                li {
                                                    float: none;
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .price {
                                margin-left: 15px;
                                padding-left: 15px;
                                border-left: 1px solid $color_22;
                                @media (max-width: 480px) {
                                    margin-left: 10px;
                                    padding-left: 10px;
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .photographers-wrapper {
                        .photographer-profile-review {
                            padding-top: 25px;
                            padding-bottom: 50px;
                            border-top: 1px solid $color_13;
                            @include transition(.3s);
                            @include clearfix;
                            &:hover {
                                cursor: default;
                                background-color: $color_14;
                                .photographer-details {
                                    .photographer-info {
                                        .profile-name,
                                        .main-details {
                                            &.photographer-profile-photo {
                                                cursor: pointer;
                                                @include transition(.3s);
                                            }
                                        }
                                    }
                                }
                            }
                            .main-details {
                                margin-right: 15px;
                                float: left;
                                @include inline-block();
                                .photographer-profile-photo {
                                    width: 100px;
                                    height: 100px;
                                    img {
                                        display: block;
                                        width: 100%;
                                        @include border-radius(50%);
                                    }
                                }
                            }
                            .photographer-details {
                                float: left;
                                @media (max-width: 480px) {
                                    float: none;
                                }
                                .photographer-info {
                                    @include clearfix;
                                    .profile-name {
                                        float: left;
                                        @include transition(.3s);
                                        @media (max-width: 480px) {
                                            float: none;
                                        }
                                        &:hover {
                                            text-decoration: none;
                                            @include transition(.3s);
                                            .name, .nickname {
                                                color: $color_6;
                                                @include transition(.3s);
                                            }
                                        }
                                        .name {
                                            @include roboto-font($bold-font, $bold-font-weight);
                                            font-size: 18px;
                                            color: $color_4;
                                            line-height: 1.2em;
                                            @media (max-width: 480px) {
                                                font-size: 16px;
                                            }
                                        }
                                        .pro-account-icon {
                                            background-color: $color_16;
                                            font-size: 12px;
                                            padding: 2px 5px;
                                            line-height: 1.2em;
                                            color: $color_2;
                                            margin-left: 10px;
                                            @include border-radius(3px);
                                        }
                                        .nickname {
                                            display: block;
                                            font-size: 12px;
                                            color: $color_8;
                                            @include transition(.3s);
                                        }
                                    }
                                    .price, .location {
                                        float: left;
                                        color: $color_15;
                                        font-size: 18px;
                                        line-height: 1.2em;
                                    }
                                    .price {
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        border-right: 1px solid $color_8;
                                        border-left: 1px solid $color_8;
                                        margin-right: 15px;
                                        margin-left: 15px;
                                        @media (max-width: 480px) {
                                            margin-right: 15px;
                                            margin-left: 0;
                                            border: none;
                                            padding: 0;
                                            margin-top: 5px;
                                        }
                                        @media (min-width: 480px) and (max-width: 767px) {
                                            margin-left: 15px;
                                            margin-top: 2px;
                                        }
                                    }
                                    .location {
                                        &:hover {
                                            color: $color_6;
                                            text-decoration: none;
                                        }
                                        @media (min-width: 480px) and (max-width: 767px) {
                                            margin-top: 2px;
                                        }
                                    }
                                }
                                .shooting-category {
                                    margin-top: 10px;
                                    @include clearfix;
                                    li {
                                        float: left;
                                        color: $color_8;
                                        @include inline-block;
                                        a {
                                            font-size: 14px;
                                            color: $color_8;
                                            &:hover {
                                                text-decoration: none;
                                                color: $color_6;
                                            }
                                            @media (max-width: 480px) {
                                                font-size: 13px;
                                            }
                                        }
                                        &.separator {
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                            .photographer-photos {
                                margin-top: 30px;
                                @include clearfix;
                                .row-thumb-photos {
                                    .photo-wrapper {
                                        width: 215px;
                                        .photo {
                                            height: 215px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
