.photographer-msg-all-page {
    .panel {
        margin-bottom: 0;
        .panel-body {
            .tab-content {
                .tab-pane {
                    .no-messages {
                        margin-top: 35px;
                        margin-bottom: 35px;
                        p {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .msg-controls {
                        @media (max-width: 767px) {
                            margin-top: 15px;
                        }
                    }
                    .message-list {
                        margin-top: 15px;
                        @media (max-width: 767px) {
                            margin-bottom: 15px;
                        }
                        .message-item {
                            border-top: 1px solid $color_13;
                            position: relative;
                            padding: 15px;
                            @media (max-width: 767px) {
                                padding-right: 0;
                                padding-left: 0;
                            }
                            &:hover {
                                background-color: $color_17;
                                .open-message {
                                    .msg-content {
                                        .msg-from-content {
                                            &:before {
                                                background-color: $color_17;
                                            }
                                        }
                                    }
                                    .received-date {
                                        display: none;
                                        @media (max-width: 979px) {
                                            @include inline-block();
                                        }
                                    }
                                }
                                .delete-message {
                                    display: block;
                                }
                            }
                            .main-details {
                                width: 45px;
                                height: 45px;
                                @media (max-width: 767px) {
                                    width: 65px;
                                    height: 65px;
                                }
                                .photo-wrapper {
                                    width: 100%;
                                    height: 100%;
                                    float: none;
                                    margin: 0;
                                    @media (max-width: 767px) {
                                        a.photo {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                            .open-message {
                                display: block;
                                @include clearfix();
                                .msg-content {
                                    @media (max-width: 979px) {
                                        width: 80%;
                                    }
                                    .msg-from-name {
                                        font-size: 18px;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        @include roboto-font($light-font, $light-font-weight);
                                        @media (min-width: 768px) and (max-width: 979px) {
                                            @include inline-block();
                                        }
                                    }
                                    .msg-from-content {
                                        font-size: 14px;
                                        margin-bottom: 0;
                                        @include roboto-font($light-font, $light-font-weight);
                                        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1);
                                        &:before {
                                            top: 0;
                                            width: 120px;
                                            text-align: left;
                                            line-height: 1.2em;
                                            @media (max-width: 767px) {
                                                width: 85px;
                                            }
                                        }
                                    }
                                }
                                .received-date {
                                    color: $color_9;
                                    position: absolute;
                                    top: 5px;
                                    right: 10px;
                                    @media (min-width: 768px) and (max-width: 979px) {
                                        position: static;
                                    }
                                    @media (max-width: 767px) {
                                        font-size: 12px;
                                        top: unset;
                                        bottom: -30px;
                                        z-index: 10;
                                    }
                                }
                            }
                            .delete-message {
                                display: none;
                                position: absolute;
                                top: 5px;
                                right: 10px;
                                font-size: 12px;
                                margin: 0;
                                padding-top: 7px;
                                padding-bottom: 7px;
                                z-index: 10;
                                @media (max-width: 979px) {
                                    display: block;
                                }
                            }
                            &.unread {
                                a {
                                    .msg-content {
                                        .msg-from-name,
                                        .msg-from-content {
                                            @include roboto-font($light-font, $light-font-weight);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
