.photos-page {
    .top-header {
        margin-bottom: 20px;
    }
    .photos-wrapper {
        .panel {
            .panel-heading {
                text-align: center;
            }
            .panel-body {
                padding: 35px 0;
                .photos {
                    .row-thumb-photos {
                        .photo-wrapper {
                            width: 215px;
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                            .photo {
                                height: 215px;
                                @media (max-width: 767px) {
                                    height: 365px;
                                }
                                &:hover {
                                    .photo-author {
                                        @include opacity(1);
                                    }
                                }
                                .photo-author {
                                    position: absolute;
                                    left: 15px;
                                    bottom: 15px;
                                    color: $color_2;
                                    @include opacity(0);
                                    @include transition(.3s);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
