.photographer-msg-single-page {
    .message-header {
        margin-top: 40px;
        @media (max-width: 979px) {
            margin-top: 30px;
        }
        .send-msg-to {
            margin: 0;
            .main-details {
                @include inline-block();
                .photo-wrapper {
                    width: 40px;
                    height: 40px;
                    margin-right: 0;
                    a.photo {
                        @media (max-width: 979px) {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .msg-controls {
            @media (min-width: 768px) and (max-width: 979px) {
                margin-top: 5px;
            }
            @media (max-width: 480px) {
                margin-top: 10px;
            }
            .block-user-message {

            }
        }
    }
    .message-content {
        display: block;
        width: 100%;
        height: 180px;
        margin-top: 15px;
    }
    .message-bottom-controls {
        margin-bottom: 60px;
        @include clearfix;
        button.btn {
            float: left;
            @media (max-width: 480px) {
                float: left;
                width: 100%;
            }
        }
        .switch {
            float: right;
        }
    }
    .previous-message {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid $color_18;
        position: relative;
        @include border-radius(3px);
        @include transition(.3s);
        &:hover {
            background-color: $color_17;
            @include transition(.3s);
            .btn.bordered-button {
                display: block;
            }
        }
        .btn.bordered-button {
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
            display: none;
            @media (max-width: 979px) {
                display: block;
            }
        }
        .msg-head {
            margin-bottom: 40px;
            color: $color_9;
            @include clearfix();
            @media (max-width: 979px) {
                margin-bottom: 20px;
            }
            .photo-wrapper {
                width: 35px;
                height: 35px;
                margin-right: 15px;
                a.photo {
                    @media (max-width: 979px) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .sender-name-and-message-date {
                float: left;
                line-height: 1.2em;
                .msg-from-name {
                    color: $color_9;
                    display: block;
                }
            }
        }
        p {
            margin-bottom: 10px;
            @include roboto-font($regular-font, $regular-font-weight);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
