.profile-page {
    h2.head {
        margin-top: 0;
        font-size: 18px;
        @include roboto-font($light-font, $light-font-weight);
        color: $color_8;
    }

    .profile-details {
        padding: 40px 0 15px;
        border-bottom: 1px solid $color_13;
        @include clearfix;

        .col-md-4 {
            border-right: 1px solid $color_13;

            &:nth-child(2) {
                @media (min-width: 768px) and (max-width: 979px) {
                    border-right: none;
                }
            }

            &:last-child {
                border-right: none;
            }
        }

        .main-details {
            @include clearfix();
            @media (max-width: 480px) {
                margin-bottom: 15px;
            }

            .photo-wrapper {
                float: left;
                width: 100px;
                height: 100px;
                margin-right: 15px;

                .member-since {
                    text-align: center;
                    color: $color_18;
                    font-size: 12px;
                }
            }

            .user-details {
                float: left;
                width: 230px;
                @media (min-width: 768px) and (max-width: 979px) {
                    width: 200px;
                }
                @media (max-width: 979px) {
                    float: right;
                }
                @media (max-width: 479px) {
                    width: 190px;
                }

                .profile-name {
                    @include transition(.3s);

                    &:hover {
                        @include transition(.3s);

                        .name, .nickname {
                            @include transition(.3s);
                        }
                    }

                    .nickname {
                        @include transition(.3s);
                    }
                }

                .add-to-favorites {
                    display: block;
                }

                .contact-photographer {
                    margin-bottom: 15px;
                }

                .share-buttons {
                    display: block;
                    float: none;
                    @media (max-width: 480px) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .awards-won {
            margin-top: 35px;
            margin-bottom: 75px;
            @include clearfix;
            @media (max-width: 480px) {
                margin-top: 25px;
                margin-bottom: 15px;
                text-align: center;
            }

            li {
                float: left;
                padding-right: 28px;
                padding-left: 28px;
                @include clearfix;
                @media (max-width: 480px) {
                    float: none;
                    @include inline-block();
                }

                span {
                    color: $color_15;
                    @include inline-block();

                    &.icon {
                        float: left;
                        margin-right: 10px;
                    }
                }

                .info {
                    float: left;
                    margin-top: 5px;

                    .label {
                        font-weight: 400;
                        padding: 0;
                        display: block;
                        color: $color_6;
                        text-transform: uppercase;
                        font-size: 12px;
                        margin-bottom: 5px;
                        text-align: left;
                    }
                }

                &.rating {
                    @media (max-width: 767px) {
                        padding: 0;
                    }
                }

                &.location {
                    margin-left: 15px;
                    padding: 0;
                }
            }
        }

        .details {
            margin-left: 30px;
            padding-top: 35px;
            padding-bottom: 35px;
            @media (min-width: 768px) and (max-width: 979px) {
                margin: 0;
                text-align: center;
            }
            @media (max-width: 480px) {
                margin-left: 0;
                padding-top: 15px;
                text-align: center;
                @include clearfix;
            }

            .icon {
                margin-right: 20px;
            }

            .phone {
                @media (min-width: 768px) and (max-width: 979px) {
                    margin-right: 15px;
                    @include inline-block();
                }
            }

            .web-address {
                margin-top: 15px;
                @media (min-width: 768px) and (max-width: 979px) {
                    margin-top: 0;
                    @include inline-block();
                }
            }
        }

        .password-settings {
            .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .profile-taxes {
        margin-top: 40px;
        margin-bottom: 30px;
        padding-right: 30px;
        border-right: 1px solid $color_13;
        @include clearfix;
        @media (min-width: 768px) and (max-width: 979px) {
            border-right: none;
            padding-right: 0;
        }
        @media (max-width: 480px) {
            margin-bottom: 15px;
            padding-right: 0;
            border-right: none;
        }

        .table.table-striped {
            @media (max-width: 480px) {
                width: 100%;
            }

            td {
                @media (max-width: 480px) {
                    padding: 15px;
                    font-size: 13px;
                }
            }
        }

        .tax {
            padding: 10px;
            background-color: $color_17;
            margin-bottom: 1px;
            @include clearfix;

            &:last-child {
                margin-bottom: 0;
            }

            .shooting-category,
            .rating-price,
            .bussiness-time {
                float: left;

                .tax-label {
                    color: $color_18;
                }
            }

            .form-group {
                margin-bottom: 0;
            }

            .shooting-category {
                margin-right: 10px;

                .btn-group.bootstrap-select {
                    width: 350px;
                    @media (min-width: 768px) and (max-width: 979px) {
                        width: 280px;
                    }
                    @media (max-width: 480px) {
                        width: 270px;
                        margin-bottom: 10px;
                    }
                }
            }

            .rating-price {
                @media (max-width: 480px) {
                    margin-right: 15px;
                    margin-bottom: 10px;
                }

                .form-group {
                    width: 80px;
                    margin-right: 10px;
                    @include inline-block;
                }
            }

            .bussiness-time {
                margin-left: 25px;
                @media (max-width: 480px) {
                    margin-left: 0;
                }

                .btn-group.bootstrap-select {
                    width: 100px;
                    margin-right: 10px;
                }
            }

            .delete {
                margin-top: 10px;
            }
        }
    }

    .won-prices-at-photo-forum {
        padding-top: 40px;
        padding-bottom: 30px;
        @media (max-width: 480px) {
            padding-top: 15px;
        }

        .head {
            margin-bottom: 45px;
            @media (min-width: 768px) and (max-width: 979px) {
                margin-bottom: 25px;

            }
            @media (max-width: 480px) {
                margin-bottom: 25px;
            }
        }

        .badges-list {
            .badge-item {
                .badge, .text {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                }

                @media (max-width: 480px) {
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .profile-bio {
        border-top: 1px solid $color_13;
        padding-top: 40px;

        .head {
            margin-bottom: 30px;
        }

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .profile-interview {
        margin-top: 40px;
        border-top: 1px solid $color_13;
        padding-top: 40px;

        .head {
            margin-bottom: 30px;
        }

        .bordered-button {
            margin: 0;
        }
    }

    .profile-gallery {
        margin-top: 40px;
        @include clearfix;

        header {
            width: 100%;
        }

        .separator-module {
            margin-bottom: 40px;
        }

        .panel {
            margin-bottom: 0;

            .container-wrapper {
                .panel-heading {
                    text-align: center;
                }

                .panel-body {
                    padding: 35px 0;

                    .tab-content {
                        .tab-pane {
                            .bordered-button {
                                margin-left: 0;
                                margin-bottom: 30px;

                                &.btn-delete {
                                    &:hover {
                                        border-color: $color_27;
                                        background-color: $color_27;
                                    }
                                }

                                &.btn-edit {
                                    &:hover {
                                        border-color: $color_16;
                                        background-color: $color_16;
                                    }
                                }
                            }

                            .slide-horizontal-notice {
                                color: $color_18;
                                @include roboto-font($light-font, $light-font-weight);
                            }

                            .profile-gallery-photos {
                                .row-thumb-photos {
                                    @media (max-width: 767px) {
                                        margin-bottom: 35px;
                                    }

                                    .photo-wrapper {
                                        @media (max-width: 767px) {
                                            margin-bottom: 35px;
                                        }
                                        .won-badges {
                                            position: absolute;
                                            top: 5px;
                                            right: 5px;
                                            @include clearfix;

                                            .badge {
                                                float: left;
                                                padding: 0;
                                                margin-right: 5px;
                                                background-color: transparent;
                                            }
                                        }

                                        &.photo-story {
                                            width: 200px;
                                            margin-right: 30px;
                                            margin-bottom: 30px;
                                            position: relative;

                                            &:nth-of-type(5) {
                                                margin-right: 0;
                                            }

                                            @media (max-width: 767px) {
                                                width: 300px;
                                                margin-right: 0;
                                                margin-bottom: 45px;
                                            }

                                            .photo {
                                                height: 200px;
                                                margin-bottom: 0;
                                                @media (max-width: 767px) {
                                                    height: 300px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .pagination-wrapper {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.edit-mode {
        .profile-details {
            .main-details {
                @media (min-width: 768px) and (max-width: 979px) {
                    margin-bottom: 15px;
                }

                .photo-wrapper {
                    .member-since {
                        display: none;
                    }
                }

                .user-details {
                    @media (min-width: 768px) and (max-width: 979px) {
                        width: 590px;
                    }

                    .profile-name {
                        .form-group {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .details {
                padding-top: 0;
                padding-bottom: 0;
                margin-left: 0;
                @media (min-width: 768px) and (max-width: 979px) {
                    margin-bottom: 15px;
                }

                .phone {
                    margin-bottom: 0;
                }

                .form-group {
                    &:last-child {
                        margin-bottom: 0;
                        @media (max-width: 480px) {
                            margin-bottom: 15px;

                        }
                    }
                }
            }
        }

        .profile-taxes {
            padding-right: 0;
            border-right: none;
        }

        .profile-bio {
            padding-bottom: 30px;

            textarea {
                width: 100%;
                margin-bottom: 20px;
            }

        }

        .btn.btn-custom.btn-success {
            margin-bottom: 0;
        }

        .profile-gallery {
            margin-top: 80px;

            .panel {
                .container-wrapper {
                    .panel-body {
                        .tab-content {
                            .tab-pane {
                                .profile-gallery-photos {
                                    margin-top: 50px;

                                    .photo-wrapper {
                                        &:hover {
                                            cursor: move;
                                        }

                                        &.selected-photo {
                                            text-align: center;
                                            padding: 5px;
                                            border: 2px solid $color_6;

                                            &:hover {
                                                .pad {
                                                    top: 5px;
                                                    right: 5px;
                                                    bottom: 5px;
                                                    left: 5px;
                                                }
                                            }

                                            .photo {
                                                .thumb-photo {
                                                    @media (min-width: 1200px) {
                                                        width: 200px;
                                                    }
                                                }
                                            }
                                        }

                                        &.uploading {
                                            &:hover {
                                                .pad {
                                                    cursor: default;
                                                }
                                            }
                                        }
                                    }

                                    &.photo-stories-photos {
                                        margin-top: 0;

                                        .row-thumb-photos {
                                            margin-bottom: 0;

                                            .photo-wrapper {
                                                &:hover {
                                                    cursor: default;
                                                }

                                                &.delete-photo {
                                                    .btn-delete {
                                                        &.bordered-button {
                                                            margin-top: 40px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
