.registration-page {
    .container-wrapper {
        .content-wrapper {
            padding-bottom: 0;
            .panel {
                margin-bottom: 0;
                .panel-heading {
                    text-align: center;
                    .nav.nav-tabs {
                        @include inline-block();
                    }
                }
                .panel-body {
                    padding-top: 50px;
                    min-height: 700px;
                    background: url('../images/backgrounds/registration.jpg') no-repeat center center / cover;
                    .tab-content {
                        margin-bottom: 65px;
                        .registration-form-wrapper {
                            text-align: center;
                            .form-wrap {
                                .checkbox {
                                    &.custom-checkbox {
                                        .label {
                                            white-space: unset;
                                            width: 90%;
                                            text-align: left;
                                            line-height: 1.2em;
                                        }
                                    }
                                }
                                .btn.btn-custom {
                                    margin-top: 30px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
