/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
    position: relative;
    zoom: 1;
    .flex-viewport {
        @include transition(.3s);
    }
    .flex-direction-nav {
        li {
            a {
                position: absolute;
                top: 50%;
                z-index: 10;
                opacity: 1;
                cursor: pointer;
                text-indent: -1000000px;
                @include inline-block();
                @include transition(0.3s, ease-in-out);
                @media (max-width: 767px) {
                    top: 40%;
                }
                &.flex-prev {
                    left: 0;
                    @include sprites('arrowleft');
                }
                &.flex-next {
                    right: 0;
                    @include sprites('arrowright');
                }
                &.flex-disabled {
                    filter: alpha(opacity=0);
                    cursor: default;
                    display: none;
                    @include opacity(0);
                }
            }
        }
    }
    &.category-photo-slider {
        .flex-viewport {
            .flex-direction-nav {
                li {
                    a {

                    }
                }
            }
        }
    }
    &.category-photo-carousel {
        text-align: center;
        margin: $flexslider-margin;
        .flex-viewport {
            width: 94.46%;
            max-height: $flex-viewport-carousel-max-height;
            @include inline-block();
            .slides {
                li {
                    padding-bottom: 1px;
                    border-bottom: 4px solid lighten($color_13, 5%);
                    &:hover {
                        border-bottom: 4px solid lighten($color_13, 5%);
                        @include transition(.3s);
                        .slide-photo-carousel {
                            @include transition(.3s);
                            @include opacity(0.6);
                        }
                    }
                    &.flex-active-slide {
                        border-bottom: 4px solid $color_6;
                        img {
                            @include transition(.3s);
                            @include opacity(0.6);
                        }
                    }
                    .slide-photo-carousel {
                        width: 90px;
                        height: 90px;
                        background: no-repeat center center;
                        background-size: cover;
                        -moz-user-select: none;
                        @include inline-block();
                        @include transition(.3s);
                    }
                }
            }
        }
        .flex-direction-nav {
            li {
                border: 1px solid $color_13;
                background-color: $color_2;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 27px;
                a {
                    top: 33%;
                    cursor: pointer;
                    &.flex-disabled {
                        display: block;
                        @include opacity(1);
                    }
                }
                &.flex-nav-prev {
                    left: 0;
                    a {
                        &.flex-prev {
                            left: 6px;
                            @include sprites('arrow_left_carousel');
                        }
                    }
                }
                &.flex-nav-next {
                    right: 0;
                    a {
                        &.flex-next {
                            right: 6px;
                            @include sprites('arrow_right_carousel');
                        }
                    }
                }
            }
        }
    }
}

// Pause/Play
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
    &:before {
        font-size: 20px;
        display: inline-block;
        content: $flex-pauseplay-icon-pause;

    }

    &:hover {

        opacity: 1;

    }

    &.flex-play:before {

        content: $flex-pauseplay-icon-play;

    }

}

// Control Nav
.flex-control-nav {

    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;

    li {

        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;

    }

}

// Control paging
.flex-control-paging li {
    a {
        width: 11px;
        height: 11px;
        display: block;
        background: #666;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-indent: -9999px;
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.3) inset);
        @include border-radius(20px);
        &:hover {
            background: #333;
            background: rgba(0, 0, 0, 0.7);
        }
        &.flex-active {
            background: #000;
            background: rgba(0, 0, 0, 0.9);
            cursor: default;
        }
    }
}

// Control thumbs
.flex-control-thumbs {
    margin: $flex-control-thumbs;
    position: static;
    overflow: hidden;
    li {
        width: 25%;
        float: left;
        margin: 0;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        opacity: .7;
        cursor: pointer;
        -moz-user-select: none;
        @include transition(.3s);
        &:hover {
            opacity: 1;
        }
    }
    .flex-active {
        opacity: 1;
        cursor: default;
    }
}
