<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photo Stories</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photo-stories-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include ../includes/desktopTopHeaderLogged.ejs %>
            </div>
        </div>
        <% include ../includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Фотоистории</h1>
                        <h2>Фотографи от цял свят споделиха своите фотоистории с вас</h2>
                    </div>
                </div>
            </header>
            <div class="photos-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper photo-album">
                                <a href="#" data-toggle="modal" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                                <div class="photo-album-name">
                                    <h3><a href="#">Портрети</a></h3>
                                    <span class="photo-author-nickname">jovanni</span>
                                    <span class="photos-counter">2 снимки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../includes/footer.ejs %>
</body>
</html>
