<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photo Stories Preview</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photo-stories-preview-page">
<% include ../includes/share_this.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include ../includes/desktopTopHeaderLogged.ejs %>
            </div>
        </div>
        <% include ../includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <% include ../includes/contest_path.ejs %>
                    </header>
                    <div class="content">
                        <div class="single-storie">
                            <div class="story-head">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-11">
                                        <h1 class="story-title">Биляна</h1>
                                        <ul>
                                            <li>
                                                <div class="story-date">17.04.2018</div>
                                            </li>
                                            <li>
                                                <div class="story-location">София, България</div>
                                            </li>
                                        </ul>
                                        <p class="story-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            It has survived not only five centuries, but also the leap into electronic typesetting,
                                            remaining essentially unchanged.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                        <div class="next-story">
                                            <a href="#">Next Story</a>
                                        </div>
                                        <div class="change-grid-view">
                                            <div class="btn-group">
                                                <a href="#" id="change-list-view" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-th-list"></span>
                                                </a>
                                                <a href="#" id="change-grid-view" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row-grid-photos grid-view">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_05.jpeg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_03.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_04.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_06.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_09.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/thumbs/3.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_07.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_08.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/thumbs/3.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_07.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_09.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/thumbs/3.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_05.jpeg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_04.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_07.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_03.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <img src="/images/photos/photo_08.jpg" alt="" class="grid-photo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="story-footer">
                                <% include ../includes/add_comment.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
