<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photo Stories Upload</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photo-stories-upload-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container">
            <div class="row">
                <% include ../includes/desktopTopHeaderLogged.ejs %>
            </div>
        </div>
        <% include ../includes/mobileMenu.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-title">Качи Фотоистория</h1>
                    </div>
                </div>
                <div class="photo-stories-notice-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="photo-stories-notice">
                                <p><strong>You can upload 1 story at the moment</strong></p>
                                <p>You can upload up to 1 story per month.</p>
                                <p><a href="#">How can I upload more?</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="photo-stories-notice">
                                <p><strong>Upload photos of at least 1200 pixels</strong></p>
                                <p>But 2400 pixels on the long side is much better.</p>
                                <p><a href="#">Why so huge?</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="photo-stories-notice">
                                <p><strong>Be sure your photos comply with the rules</strong></p>
                                <p>Our editors will be really grateful for that :)</p>
                                <p><a href="#">What are the rules?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title of the story or the newlyweds' names">
                        </div>
                        <div class="form-group">
                            <textarea name="message" cols="30" rows="10" class="form-control" placeholder="Съобщение *"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <label for="story-city">City</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select data-live-search="true" id="story-city" multiple title="Град">
                                <option data-tokens="София">София</option>
                                <option data-tokens="Пловидв">Пловидв</option>
                                <option data-tokens="Варна">Варна</option>
                                <option data-tokens="Бургас">Бургас</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <label for="story-date">Дата</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <input type="text" id="story-date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="upload-photos-container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p class="notice">Drag the photo here or click on the button</p>
                                </div>
                                <div class="col-lg-3">
                                    <div class="add-new">
                                        <span class="text">Browse photos</span>
                                        <input type="file" id="browse-photo" name="browse-photo"/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="uploading-photos-notice text-center">
                                        <p class="notice">качване на снимки: 2</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                                78%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uploaded-photos-wrapper">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="uploaded-photos-header">
                                        <div class="slide-horizontal-notice">
                                            <span class="icon slide-horizontal-hand"></span>
                                            <span class="text">Плъзнете снимката, за да пренаредите снимките</span>
                                        </div>
                                        <div class="choose-cover-photo">
                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                            <span class="text">Изберете корица</span>
                                        </div>
                                    </div>
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper delete-photo cover-photo">
                                            <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                            </a>
                                            <div class="my-cover-photo">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="pad">
                                                <button class="btn btn-cover-photo">
                                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    <span class="text">Направи корица</span>
                                                </button>
                                                <button class="btn btn-delete bordered-button">
                                                    <span class="text">изтрий</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="photo-wrapper delete-photo">
                                            <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                                <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                            </a>
                                            <div class="pad">
                                                <button class="btn btn-cover-photo">
                                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    <span class="text">Направи корица</span>
                                                </button>
                                                <button class="btn btn-delete bordered-button">
                                                    <span class="text">изтрий</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="photo-wrapper uploading">
                                            <a href="#" class="photo">
                                                <div class="thumb-photo" style="background-image: url('../images/thumbs/3.jpg')">Ivan ivanov</div>
                                            </a>
                                            <div class="pad">
                                                <div class="uploading-photo">
                                                    <div class="loading">
                                                        <i class="fa fa-spinner fa-spin spinner" style="font-size:24px"></i>
                                                    </div>
                                                    <div class="text">снимката се качва...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-success btn-custom btn-md">Качи фотоистория</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
